[2014-08-09 19:26] eduardolundgren opened #1 "Adds transport layer"

[2014-08-09 19:26] eduardolundgren opened #2 "Adds promise layer"

[2014-08-09 19:26] eduardolundgren opened #3 "Adds parse content utility"

[2014-08-09 19:27] eduardolundgren opened #4 "Adds inherits utility"

[2014-08-09 19:32] #4 closed, assigned to nobody

[2014-08-10 16:40] #2 closed, assigned to nobody

[2014-08-10 16:43] eduardolundgren opened #5 "Adds App utility class"

[2014-08-10 16:44] eduardolundgren opened #6 "Adds Surface utility class"

[2014-08-10 16:44] eduardolundgren opened #7 "Adds Screen utility class"

[2014-08-10 16:44] eduardolundgren opened #8 "Adds HTMLScreen utility class"

[2014-08-10 16:44] eduardolundgren opened #9 "Adds web components"

[2014-08-10 16:45] eduardolundgren opened #10 "Adds tests"

[2014-08-11 22:38] zenorocha opened #11 "Register names"
- [x] sennajs.com
- [x] github
- [x] npm
- [x] bower

[2014-08-11 22:46] #11 closed, assigned to nobody

[2014-08-12 13:49] eduardolundgren opened #12 "Adds senna css utility"
The css utility for senna is intended to be an optional lightweight css file that provides loading bar for the spa request and some default transitions for the surfaces, e.g. fade, flip.

Loading bar reference:
http://ricostacruz.com/nprogress/

Transitions references:
http://daneden.github.io/animate.css/
http://css3.bradshawenterprises.com/flip/
http://www.polymer-project.org/components/core-ani

[2014-08-14 23:32] #1 closed, assigned to nobody

[2014-08-14 23:33] #3 closed, assigned to nobody

[2014-08-14 23:34] eduardolundgren opened #13 "Adds core utilities"
Dom manipulation
Basic selector matcher

[2014-08-14 23:35] #13 closed, assigned to nobody

[2014-08-14 23:35] #6 closed, assigned to nobody

[2014-08-14 23:36] #7 closed, assigned to nobody

[2014-08-14 23:36] #8 closed, assigned to nobody

[2014-08-14 23:36] #5 closed, assigned to nobody

[2014-08-14 23:37] eduardolundgren opened #14 "Adds Cacheable utility"

[2014-08-14 23:37] eduardolundgren opened #15 "Adds EventEmitter utility"

[2014-08-14 23:38] eduardolundgren opened #16 "Adds Route utility"

[2014-08-14 23:40] #10 closed, assigned to nobody

[2014-08-14 23:40] #14 closed, assigned to nobody

[2014-08-14 23:40] #15 closed, assigned to nobody

[2014-08-14 23:40] #16 closed, assigned to nobody

[2014-08-15 01:34] eduardolundgren opened #17 "Allows surfaces to be created before domready"

[2014-08-15 01:35] #17 closed, assigned to nobody

[2014-08-15 02:31] eduardolundgren opened #18 "Cacheable screens are not caching the correct content"

[2014-08-15 02:32] #18 closed, assigned to nobody

[2014-08-15 03:32] #12 closed, assigned to nobody

[2014-08-17 22:26] eduardolundgren opened #19 "Fixes scroll history handling when back or forward pages doesn't have enough height to scroll to the history position"

[2014-08-17 22:27] #19 closed, assigned to nobody

[2014-08-18 23:01] eduardolundgren opened #20 "Adds data attribute handler to initialize senna.App"

[2014-08-18 23:02] #20 closed, assigned to nobody

[2014-08-21 20:41] eduardolundgren opened #28 "Improve gallery demo usability"
- @bernarddeluna

[2014-08-21 20:43] bernarddeluna opened #29 "Improve Blog responsive sidebar usability"
when you are using mobile screen, you need a easy-access to nav and header, in another words, it will be nice to put a hamburger icon and slide the sidebar above your content:

something like this: https://dribbble.com/shots/1325069-IOS-7-Sidebar-Menu?list=searches&offset=22

[2014-08-21 21:14] bernarddeluna opened #31 "Change repository link on the navigation"
Use senna instead senajs.com

[2014-08-21 21:18] bernarddeluna opened #32 "Create a page "thanks for downloading""
Use this approach to invite users to share the love about SennaJS on Twitter with a predefined tweet.

Open Source + Love = Engagement :)

[2014-08-21 21:23] bernarddeluna opened #33 "Make the "table of contents" fixed"
It's important to guide your user through the content topics

[2014-08-22 00:13] dhyegocalota opened #34 "Non-HTML5 support"
I really appreciate this framework and I'd like to use it. But there's a problem, i have to support non-HTML5 browsers (like IE 8) and the route basically works with `window.history.state`

I'm sure there're another people just like me. Maybe could be an extension or a plugin to support hashbang (into non-HTML5 browsers) instead of `history.state`. Of course, it's just a suggestion and if anyone h

[2014-08-22 13:35] tadeuzagallo opened #37 "Triggering ajax request at first load"
I was playing with the blog example, and it is firing an ajax request at the first page load, is it actually needed?

[2014-08-22 17:36] ghost opened #38 "Transition & nProgress"
Hello everyone,

I would like to know how does the framework support page transitions and a loading indicator as nProgress ?

Thanks

[2014-08-23 02:29] blackrosezy opened #39 "Reload bug"
Tried an example http://sennajs.com/examples/email/ in ipad.Page keep refreshing non stop.

[2014-08-25 15:03] ktryndchrs opened #42 "This is not an Issue but a question"
It is simply to know why it is not compatible with IE9 :)

[2014-08-25 19:17] #31 closed, assigned to nobody

[2014-08-26 12:49] eduardolundgren opened #43 "Adds view source button on examples"

[2014-08-26 12:50] eduardolundgren opened #44 "Adds point of interests on examples"

[2014-08-26 12:51] eduardolundgren opened #45 "Adds travis integration"

[2014-08-26 13:20] rafaelrinaldi opened #46 "Global pragma strict"
I was looking at the source code of the project (btw it is a really cool project!) and I've noticed that you guys declare the pragma strict for each module of the library without specifying a context. Even in the minified version.
Not sure if this is expected since without a context it will "leak" to the global scope, and using the pragma globally means that any code within the same file will also

[2014-08-26 13:41] #32 closed, assigned to nobody

[2014-08-28 14:17] griiettner opened #48 "Console thowing error when "gulp watch""
I can not make this to work... I get error on my terminal every time I try

I tried to google what could be the reason, but I just could not find... But it is related to CSS, because when I commented out the gulp task for CSS, it started to watch, but of course, looks ugly, because the CSS was not compiled... I`ll keep trying to find a solution for this, but in the mean time, if someone could give

[2014-08-29 08:52] Xananax opened #49 "No loading on scroll occurs if screen is bigger than content"
On the blog example (http://sennajs.com/examples/blog/), nothing happened until I reduced my browser size; then, on scroll, it loaded the next pages
![screenshot from 2014-08-29 11 51 06](https://cloud.githubusercontent.com/assets/836082/4088167/a90bf532-2f59-11e4-8a33-6420570c6698.png)
There should be a check for screen size, and if content is smaller than it, it should automatically load the nex

[2014-08-29 13:22] rodrigogs opened #50 "Adds ability to handle xhr error status"
Hello!
I attended a lecture by Eduardo in BrazilJS and I was super excited about Sennajs. However, when I test some doubts arose.

To handle navigation errors I override handleNavigateError_ method in this way (do not know if it's the most correct way, I would also guess on this one):

[code]

The problem is that the err variable xhr has no status set, so I have to get the statusText (which exists

[2014-09-02 23:13] #50 closed, assigned to nobody

[2014-09-02 23:42] eduardolundgren opened #51 "Senna should not handle states that are not ours"

[2014-09-02 23:42] #51 closed, assigned to nobody

[2014-09-02 23:47] #46 closed, assigned to eduardolundgren

[2014-09-03 00:14] #45 closed, assigned to nobody

[2014-09-03 00:22] eduardolundgren opened #52 "Adds browser stack or sauce labs integration"

[2014-09-03 00:25] #48 closed, assigned to nobody

[2014-09-03 02:11] #42 closed, assigned to nobody

[2014-09-06 04:05] justinmetros opened #54 "Question regarding data-attribute initialization"
Hi there,

Loving Senna, have been playing quite a bit with it since its release. Been looking for a framework like this for a while, great work!

2 quick questions:

1) When using the data-attribute initialization method, what is the best way to get access to the senna instance that is created? For example in the email demo, how would one use setTransitionFn( ) for each data-senna-surface ?

When

[2014-09-09 21:29] henvic opened #55 "Scroll position on the email demo"
Try to browse the [email example](http://sennajs.com/examples/email/) on a mobile device.

The page is responsive, so you almost certainly are seeing the menu on the top and the content just below it, instead of side-by-side.

Do you guys think it's a good idea to add some logic to the demo to show how to handle such situations or would it be overkill?

Maybe even go so far as adding a boolean par

[2014-09-10 14:27] #39 closed, assigned to nobody

[2014-09-12 05:12] FagnerMartinsBrack opened #59 "Make Senna.js work for form elements"
I noticed Senna works just for links.

Is there a reason why other forms of page reloading, such as forms, are not being handled by the framework? Or it was just not implemented yet?

[2014-09-12 14:06] FagnerMartinsBrack opened #60 "Use feature detection to disable senna when used in a unsupported browser environment"
Senna should use a feature detection system to disable itself for unsupported browsers, that could be a useful feature in the meantime because it would allow the app to work without the need to worry about how older browsers are behaving when using the framework.

x-ref: https://github.com/eduardolundgren/senna/issues/34#issuecomment-55365998

[2014-09-12 14:09] FagnerMartinsBrack opened #61 "Add test case for firefox right mouse button triggering bug"
Related to: https://github.com/eduardolundgren/senna/pull/58

[2014-09-12 17:15] #61 closed, assigned to nobody

[2014-09-12 19:52] eduardolundgren opened #63 "Who uses Senna?"
Let us know if your project/company uses Senna and wouldn't mind being mentioned on the website. Include a logo with a link to the project if you have one.

[2014-09-12 19:59] #34 closed, assigned to nobody

[2014-09-13 16:20] #38 closed, assigned to nobody

[2014-09-16 09:26] #37 closed, assigned to nobody

[2014-09-20 11:48] FagnerMartinsBrack opened #64 "Senna's behavior for plain JS and Data Attributes"
The docs mention `<body data-senna>` requirement in the "Data attributes" section, making it implicit the `data-senna` markup is optional and only used for the "Data attributes" feature.

According to [here](https://github.com/eduardolundgren/senna/blob/5a6fbf621fa7425de02c70c937f44733090521ff/src/senna.js#L368) and [here](https://github.com/eduardolundgren/senna/blob/5a6fbf621fa7425de02c70c937f44

[2014-09-22 08:01] #64 closed, assigned to nobody

[2014-09-23 17:00] henvic opened #67 "Non-programmatically prefetching"
Cross-reference: [Adding prefetch (preemptive caching) issue #66](https://github.com/eduardolundgren/senna/pull/66).

We need a non-programmatically way to allow Senna users to add prefetching to their resources.

[2014-09-23 18:14] henvic opened #68 "Cache invalidation"
Yesterday @marcellustavares told me about a issue which I describe bellow with an example.

Given the mapping `/posts/<post-id>`,

1. navigate to /posts/100
2. navigate to /posts/batch-editing and edit the blog title for the post with `id = 100` to something else
3. navigate to any other place without a full page refresh
4. navigate again to /posts/100

You're going to see the old version of /post

[2014-09-25 17:57] FagnerMartinsBrack opened #69 "Semantic way for loading styles"
The spec does not allow `<style>` tags inside other element than the `<head>` element.
The following elements can be used inside a `<head>`: `<title>`, `<base>`, `<link>`, `<style>`, `<meta>`, `<script>`, `<noscript>`, `<command>`.

I can't declare `style` tags as a surface using data attributes and still keeping my document spec compliant, because I can't add `id="style"` and `id="style-default"`

[2014-10-01 22:37] #54 closed, assigned to nobody

[2014-10-16 12:09] #69 closed, assigned to nobody

[2014-11-04 16:22] lsantosc opened #70 "Would be able to use sennajs with angularjs?"
When i navigate to a second page i wish to execute a controller, is this possible?

[2014-11-07 11:23] #70 closed, assigned to nobody

[2014-11-13 17:22] luiscoms opened #77 "Implement ignore links"
When I start senna by using data attributes is not possible to ignore some links like the example

[code]

[2014-12-01 05:57] #77 closed, assigned to nobody

[2014-12-01 05:59] #49 closed, assigned to nobody

[2014-12-06 21:21] davidguilherme opened #81 "Changes the main property in bower.json"
I think that the main property in bower.json should contain the main script and css file, in other words, this property should contain the build/senna.js and build/senna.css files.

A case that change the main files is better. The [Sprockets](https://github.com/sstephenson/sprockets) uses the main script specified in bower.json to importing the files without need to specify the file path. Just the

[2014-12-09 00:12] #81 closed, assigned to nobody

[2014-12-11 13:59] henriquelbsouza opened #83 "Blog example"
Hi, I was taking a look at the blog example and didn't really get it...

The index.html has 4 posts, when I scroll down it loads 3 more posts, and scroll a little more and get another 3 posts.

That is fine, but the 'problem' is, in the page02.html I have the same 4 posts of the index, plus the 3 posts of the page02. (page03 is the same with more posts)...

The question is, why? Maybe it is me who

[2014-12-22 13:24] danielfariati opened #84 "Scripts being called twice"
Sometimes, the scripts in the new page is being called twice.

Example:
``index.html``
[code]

---

``other-page.html``
[code]

---

``application.js``
[code]

The console will show the "*test!*" message twice when the *other-page.html* is called.

---

It appears to be a problem with the lines 1709 and 1804 of senna.js. That happens because both lines call the method *append*, which call the meth

[2014-12-22 13:44] danielfariati opened #85 "Script load error: 404 with relative URLs"
There is an error when loading scripts in different contexts with relative URL.

For example:
Let's say that we have the following pages:

*/context1/index.html* that have the following script import:
```<script src="js/script1.js"></script>```

*/context2/index.html* that have the following script import:
```<script src="js/script2.js"></script>```

When we change from the first page to the other

[2015-02-10 16:26] letunglam opened #86 "Dynamic body id or class"
I'm a newbie to javascript, so please forgive if I ask things that are painfully obvious.

I am using Senna to in my side project. I can update any section dynamically with Senna. But when I want Senna update body class or id dynamically too, I don't know how to do it. I tried to search Senna's documentation and around github but I couldn't find a solution. Could somebody please help.

Many thanks

[2015-02-10 18:27] eduardolundgren commented on #86
Surfaces must be child of document.body, then if you try to use body as surface it won't work. If you want to change body during a surface navigation you can use the custom events to manually add the behavior.

[2015-02-10 20:31] letunglam commented on #86
@eduardolundgren Thank you. So I think Route Handler would be better solution for my issue.

[2015-02-10 20:31] #86 closed

[2015-02-10 23:56] eduardolundgren commented on #86
SGTM.

[2015-02-11 00:02] eduardolundgren commented on #85
That make sense. It's likely to be the root cause. I will try to work on a fix for that this week. Feel free to send a pull to that as well. Sorry for delaying.

[2015-02-11 00:33] #84 closed

[2015-02-11 00:33] eduardolundgren commented on #84
Fixed. Thanks!

[2015-02-11 16:04] letunglam opened #87 "How to add screen deactivate transition?"
I'm a newbie to javascript, so please forgive if I ask things that are painfully obvious.

I can set transition when a screen appear by using `surface.setTransitionFn` but I don't know how can I set transition when it disappear (ex: fadeOut). A simple example would be highly appreciated.

[2015-02-11 16:16] eduardolundgren commented on #87
Note that the default transition adds a class flipped to the surface that is visible, and removes it from the ones it will hide, se https://github.com/eduardolundgren/senna/blob/master/src/surface/Surface.js#L62. Therefore, you can use css transitions to handle that, see https://github.com/eduardolundgren/senna/blob/master/src/senna.css#L41.

[2015-02-11 19:11] letunglam commented on #87
@eduardolundgren thank you for your quick reply

However, as I see from the Gallery example, class `.flipped` stay in preview surface even if it's hided. Is it a bug?

[2015-02-11 20:07] letunglam opened #88 "Prevent click a link from jumping to top of page in jQuery"
I have a issue like in gallery example. When click a click, it makes the page jump to the top. I used to use this code to fix it. However it also prevents senna from working.

[code]

Any help would be very appreciated.

[2015-02-14 13:45] eduardolundgren commented on #88
You can manually invoke `app.navigate(href)` to work around this issue.

[2015-02-14 13:46] eduardolundgren commented on #87
If it's hidden the flipped will not affect anything, although it seems something that can be fixed. Feel free to send a pull or open an issue for that.

[2015-02-14 16:20] letunglam commented on #88
@eduardolundgren Thank you for your kind support. I fixed it :D

[2015-02-14 16:20] #88 closed

[2015-02-14 16:21] letunglam commented on #87
@eduardolundgren Thank you for the information. As I am just a javascript newbie, I will try my best ^^.

[2015-02-14 16:21] #87 closed

[2015-02-14 17:42] eduardolundgren commented on #88
:+1:

[2015-02-24 16:11] RobinNagpal opened #90 "The vertical height is not maintained after Surface flip"
I am using liferay 7, and I dropped 4-5 portlets on my page. On the flip of the surface of the bottom most portlet, my vertical scroll height is not maintained.

[2015-02-24 18:44] RobinNagpal commented on #90
@eduardolundgren

I see you added this function. Can you please share why is it required? The scroll position is already saved with state.

 senna.App.prototype.syncScrollPosition_ = function(opt_replaceHistory) {
    var scrollLeft = opt_replaceHistory ? this.syncScrollLeft : 0;
    var scrollTop = opt_replaceHistory ? this.syncScrollTop : 0;

    if (this.updateScrollPosition) {
      window.scr

[2015-02-24 20:07] eduardolundgren commented on #90
The scroll is stored natively by history API, although when state changes the browser updates its position right away, potentially before the surfaces content are ready since the lifecycle is deferred. Therefore, we wait that the entire lifecycle is ready in order to re-position the scroll for better UX.

[2015-02-27 19:02] RobinNagpal commented on #90
@eduardolundgren  agree! But this is currently not working using Senna.js i.e. scroll is not maintained or re-positioned.

1) opt_replaceHistory in the above function is false for next surface.
2) we dont update  this.syncScrollLeft  or  this.syncScrollTo, everything these is change in the scroll position

[2015-03-05 07:36] remisbaima commented on #90
+1
SennaJS worked amazingly for my use-case (i.e. pagination). But I have the same problem described in this issue.

[2015-03-05 13:50] eduardolundgren commented on #90
Could you write a test case?

[2015-03-05 21:43] RobinNagpal commented on #90
Sure, I can trying doing that and can also try sending you a pull request with the solution

[2015-03-24 08:21] FagnerMartinsBrack opened #91 "Safari/Windows: Test for aborting the request is not working"
The folowing test fails in Safari 5.1.7 on Windows 7:

https://github.com/eduardolundgren/senna/blob/234dff5fd48ad75fc6a0eca8748dc907540a07e1/test/test.js#L187-L196

![image](https://cloud.githubusercontent.com/assets/835857/6797302/f6c43eba-d1de-11e4-8573-1f90c114fad6.png)

Any idea of what might be happening? I didn't dig any deeper but It seems Safari fails to return a different status code whe

[2015-03-24 08:21] FagnerMartinsBrack opened #92 "Safari/Windows: "endNavigate" event is not triggered in the test to remember the scroll position"
The following code is not triggered when running the test suite in Safari 5.1.7 on Windows 7:

https://github.com/eduardolundgren/senna/blob/234dff5fd48ad75fc6a0eca8748dc907540a07e1/test/test.js#L472-L477

![image](https://cloud.githubusercontent.com/assets/835857/6797561/43efc26a-d1e2-11e4-8114-595b1b2b9308.png)

Since the assertions and the "done" function is never triggered the test timed out.

[2015-03-24 08:21] FagnerMartinsBrack opened #93 "Safari/Windows: '[object MouseEventConstructor]' is not a constructor (evaluating 'new MouseEvent(type, modifiers)')"
The mouse related test doesn't work in Safari 5.1.7 on Windows 7:

https://github.com/eduardolundgren/senna/blob/234dff5fd48ad75fc6a0eca8748dc907540a07e1/test/test.js#L575

It seems Safari doesn't support dispatching an event in a `MouseEvent` instance, it throws the error below:

![image](https://cloud.githubusercontent.com/assets/835857/6797832/7de7828e-d1e5-11e4-97b2-c080a1bd7138.png)

I did a

[2015-03-24 08:36] FagnerMartinsBrack opened #94 "Integrate appveyor for Windows based CI or find a way to test in Safari"
I cloned this project again to start working on #60, but I realized there are some problems running the tests with Safari: #91, #92, #93.

I can't say if this is only happening on Windows because Travis-CI doesn't seem to test on Safari: https://github.com/eduardolundgren/senna/blob/234dff5fd48ad75fc6a0eca8748dc907540a07e1/karma.conf.js#L40-L47

It would be nice to find a way to test the project i

[2015-03-24 13:23] eduardolundgren commented on #92
I am swamped in a project this week. Anyways, I will try to create a milestone release to address all the issues you have filed. If you have any progress in between let me know.

[2015-03-28 17:52] henvic commented on #94
We could also use either:
a) a Selenium cloud service like SauceLabs or BrowserStack
b) a OS X vm on Travis.

I've tried both approaches and had problems with them.

Both Selenium / WebDriver cloud services failed to deliver the expected availability or took much longer than the allowed time a process has to build on Travis.

Travis OS X environment is still experimental and they're not allowing n

[2015-03-28 19:29] FagnerMartinsBrack commented on #94
Last time I checked, Browserstack didn't provided free open source service (not trial) in the home page, but it seems you can [ask for it](http://qr.ae/QVPQz).

If that is possible, I may try to do that in a fork and send a pull request explaining the processes used to achieve the result.

[2015-03-28 23:03] FagnerMartinsBrack commented on #94
@henvic, @eduardolundgren

I took a fast look into it and I will document here what I found:

* Sauce labs contains an [open source plan](http://saucelabs/opensauce) that allows unlimited time for open source projects.

* There is an online example of a setup using gulp, karma and saucelabs: https://github.com/pythonandchips/glasgowjs-karma-saucelabs-gulp

* It seems you can easily integrate Travi

[2015-03-29 15:10] henvic commented on #94
Yeah. Running cross-browser tests on pull requests would be pretty nice so that whoever is making a change would have immediately feedback, however it's not critical at all and we wouldn't like maintaining infra-structures to do things like that currently unless critical.

[2015-04-08 03:13] lpgray commented on #63
[Students Helper(同学帮帮)](http://txbb.com/m) is using senna now.

![http://txbb.com/mpub/dist/img/com/icon_240.png](http://txbb.com/mpub/dist/img/com/icon_240.png)

[2015-04-10 17:53] zenorocha opened #95 "Rename project due to copyright violations"
Even though this is an open source initiative and does not generate any profit, we'll have to change its name due to copyrights™.

Any suggestions?

[2015-04-10 17:54] zenorocha commented on #95
Here're some of the things we need to change:

- [ ] Site
    - [ ] Examples
- [ ] GitHub
    - [ ] Releases
- [ ] Bower
- [ ] npm

[2015-04-10 17:58] zenorocha commented on #95
https://github.com/eduardolundgren/senna/commit/5ba8f2af7c8cd63979c968fc3f7928f10564ec31

[2015-04-12 00:36] henvic commented on #95
Hyperloop http://www.teslamotors.com/blog/hyperloop

The reference is great. Elon Musk is awesome and is very welcome to open source.

Recently Tesla started moved their patents to an open-source model patents and SpaceX photos are now public domain thanks to him.

http://www.teslamotors.com/blog/all-our-patent-are-belong-you

[2015-04-16 11:23] gawry commented on #95
Is that the reason the site and examples are offline?

[2015-04-16 12:29] eduardolundgren commented on #95
Unfortunately, we had to remove the site domain. Senna name is a trademark in Brazil and they are very strict about using it. In couple of days it will be back online.

Sorry about the inconvenience.

[2015-04-17 02:16] FagnerMartinsBrack commented on #95
Alright, Senna is a trademark, but is SennaJS a trademark also?

[2015-04-21 14:36] bryceosterhaus opened #96 "Using .on('startNavigate' doesn't allow me to update the event.path before the request is sent."
I am trying to update the path to include a parameter on each senna request using

[code]

However, the event.path is only updated AFTER the request is sent. It is expected that 'startNavigate' would occur right before the request is sent and thus allowing the developer to update the path before the request is sent.

Thanks!

[2015-04-26 03:31] tapmodo commented on #95
I came across this issue today when looking for API documentation, this is a real bummer! If you want to keep the fast/race car theme, my suggestion for a name is "pettyjs" for [Richard Petty](http://en.wikipedia.org/wiki/List_of_all-time_NASCAR_Cup_Series_winners)—no one can trademark "petty" (a common English word). Biggest problem right now is no online documentation or website totally missing.

[2015-04-27 17:32] eduardolundgren commented on #96
One option is to add a resolvePath attribute on App, that by default is a identity function. If set to a different one you can place your custom logic there. Would you mind sending a pull request with that?

[2015-04-28 15:54] bryceosterhaus commented on #96
Updated pr to include test

[2015-04-28 16:56] #96 closed

[2015-04-30 18:48] zenorocha commented on #95
I found a solution: http://en.wikipedia.org/wiki/Senna_(plant)

[2015-05-22 16:36] Claud opened #98 "How i can run router handler after first page load"
Hello. I have a simple app:

[code]
and different "screen" classes that has unique code in the activate method.

How i can run router handler after first page load (when the user visited the site.)?

[2015-05-22 17:42] Claud commented on #98
I has wrote this solution.

[code]
But if has more true solution, please write it.

[2015-05-25 17:43] Claud opened #99 "<link rel="senna-route"...> not work for me"
Hello. `<link rel="senna-route" href="regex:.*" type="HtmlScreen">` it is not work for me. What am i doing wrong?
[code]

[2015-05-25 20:19] eduardolundgren commented on #99
Try `<link rel="senna-route" href="regex:.*" type="senna.HtmlScreen">`.

[2015-05-26 14:57] Claud commented on #99
@eduardolundgren thanks you it is work.

[2015-05-26 17:12] Claud commented on #99
@eduardolundgren It is solution has error.

[code]
`app.routes` is empty.

[2015-05-26 17:33] Claud commented on #99
Simple solution

[code]

[2015-05-26 18:03] eduardolundgren commented on #99
When you use data attributes you need to use the shared senna app intance:

`var app = senna.dataAttributeHandler.getApp();`

This will work.

[2015-05-27 07:57] sachinhub commented on #63
Hi, I have a question. We are running a site using Liferay 6.1 and wanted to know if we can use sennajs with that.

We want to intercept all page navigations and make them as ajax calls and update DOM and was thinking if we can use sennajs in any way with LR6.1

[2015-05-27 13:16] Claud commented on #99
Uncaught TypeError: Cannot read property 'getApp' of undefined

[2015-05-27 14:30] eduardolundgren commented on #99
Did you put data-senna attribute on the body?

[2015-05-27 20:20] Claud commented on #99
Yes of course

[code]

[2015-05-27 21:10] eduardolundgren commented on #99
I assume you are calling that before DOM is ready and the data attribute handler starts on dom content load.

Could you do another try?

[code]

[2015-05-28 21:47] Claud commented on #99
I thought about it. And it did not help.

[2015-05-29 04:39] eduardolundgren commented on #99
You need to make sure you are binding DOMContentLoaded (or jQuery.ready) after senna.js is included in the page in order to be fired after the internal listener.

If it does not work, please, send some example because here it works fine.

[2015-05-29 07:48] eduardolundgren commented on #98
Sorry, the problem wasn't clear. Could you explain with more details what you are trying?

[2015-05-29 07:49] eduardolundgren commented on #95
Closing the issue since it's already solved. Thx.

[2015-05-29 07:49] #95 closed

[2015-05-29 13:26] eduardolundgren opened #100 "Swipe back gestureon IOs doesn't work"
Needs investigation, One possibility is that the swipe back gesture doesn't fire popstate in some apps.

[2015-06-12 15:26] davidguilherme commented on #98
Imagine this situation: A simple app where the App Server render index.html to all requests. So, the senna app will resolve the path. And, the all pages will just partials (containing only senna surface).

So, a simple `app.dispatch();` in the end will resolve.

[2015-07-03 12:09] hmln commented on #59
@eduardolundgren, can you share those patches?

Also, can someone give guidelines on how to implement ```FormScreen```?

[2015-10-09 11:55] remisbaima opened #102 "Improve surfaces behavior to not require default content only via "surface-default" element"
In http://sennajs.com/docs/#dataattributes we see:
[code]
Document that the sub-div "content-default" **must** have the "-default" suffix and that it **must** be called "-default" and not any other suffix.

[2015-10-12 08:05] remisbaima opened #103 "Make Senna available in a CDN"
Like you provide the http://alloyui.com in a CDN.

[2015-10-12 10:21] jimaek commented on #103
Its available on jsDelivr with auto-updates enabled http://www.jsdelivr.com/projects/senna.js

More info https://hacks.mozilla.org/2014/03/jsdelivr-the-advanced-open-source-public-cdn/

[2015-10-12 11:43] remisbaima commented on #103
@jimaek: that is great, but it should be documented in the main page http://sennajs.com

[2015-12-18 11:03] #99 closed

[2015-12-18 11:04] #98 closed

[2015-12-18 11:04] eduardolundgren commented on #93
Reorganized on v1.0.0-alpha.

[2015-12-18 11:04] #93 closed

[2015-12-18 11:06] eduardolundgren commented on #92
Hey @FagnerMartinsBrack, some refactor were made on branch v1.0.0-alpha to prepare final release. This is no longer valid. Thank you for reporting.

[2015-12-18 11:06] #92 closed

[2015-12-18 11:07] #83 closed

[2015-12-18 11:08] #91 closed

[2015-12-18 11:09] eduardolundgren commented on #94
Now it's integrated with SauceLabs on v1.0.0-alpha. Thanks.

[2015-12-18 11:09] #94 closed

[2015-12-18 11:11] eduardolundgren commented on #90
This is already fixed on master and on v1.0.0-alpha. Thank you.

[2015-12-18 11:11] #90 closed

[2015-12-18 11:12] #55 closed

[2015-12-18 11:12] #52 closed

[2015-12-18 11:12] #44 closed

[2015-12-18 11:13] #28 closed

[2015-12-18 11:13] #9 closed

[2015-12-18 11:14] eduardolundgren commented on #29
Examples being re-organized. Thanks @bernarddeluna.

[2015-12-18 11:14] #29 closed

[2015-12-18 11:14] eduardolundgren commented on #33
Examples being re-organized. Thanks @bernarddeluna.

[2015-12-18 11:14] #33 closed

[2015-12-18 11:33] FagnerMartinsBrack commented on #92
:+1:

[2015-12-21 15:11] eduardolundgren commented on #100
Already fixed on v1.0.0-alpha.

[2015-12-21 15:11] #100 closed

[2015-12-21 15:11] eduardolundgren commented on #102
Done.

[2015-12-21 15:11] #102 closed

[2015-12-21 15:58] #85 closed

[2015-12-21 16:50] eduardolundgren commented on #60
Done on branch v1.0.0-alpha.

[2015-12-21 16:50] #60 closed

[2015-12-24 19:40] eduardolundgren commented on #68
This should be enough for now https://github.com/liferay/senna.js/blob/master/src/app/App.js#L241. Thanks!

[2015-12-24 19:40] #68 closed

[2015-12-30 22:13] #59 closed

[2016-01-01 19:14] dimadin opened #107 "Error with slug when used in some browsers"
This is happening in some browsers that are not major ones, I suppose some feature that they don't support is used.

When you are using latest build, it works for content but slug changes to `/undefined` for all pages. This is happening in [Pale Moon](http://www.palemoon.org/) (fork of older Firefox with some features removed) and in [Dolphin](http://www.dolphin.com/) and [Next Browser](http://nex

[2016-01-01 19:23] dimadin opened #108 "Fix blog demo"
There is an example for infinity scroll right now, but when ported and used with latest build shows some errors; looks like there were a lot of changes in the meantime.

I use [WordPress](https://wordpress.org/) for site building (other CMSs are similar) and when used in blog format, it adds `/page/<num>` for older archive pages. There are some methods right now that use infinity scrolling but tha

[2016-01-01 19:29] dimadin commented on #103
Could you please also add it to [cdnjs](https://cdnjs.com/)? It is similar to jsDelivr since it is [open source](https://github.com/cdnjs/cdnjs), even I could open issue there, but I am not sure do you also want to submit CSS and if you want it just when version 1.0 is released.

[2016-01-07 05:04] henvic opened #110 "Pull requests tests failing due to security restrictions on SauceLabs"
Currently pull requests tests are failing due dependency on SauceLabs.

I think we can use one of these two approaches:
1. verify if the SAUCE_USERNAME environmental variable is defined and only run the tests if it is
2. try to be smart and run the locally available Chromium if SAUCE_USERNAME is not defined (as it once worked with 5848eb066096d7a1e9086399c2f5b53212ce590d and removed by 84be2878d18

[2016-01-07 13:10] FagnerMartinsBrack commented on #110
Is this because Sauce tests can't be run in PRs? If so it might be related to https://github.com/carhartl/jquery-cookie/issues/268, there is a very useful discussion there.

[2016-01-22 18:11] zenorocha opened #111 "Issue with default surface and turbolinks"
When there's no default surface with turbolinks, elements that are injected in the body becomes orphans after navigation.

[2016-01-22 22:45] eduardolundgren opened #112 "Adds support for form/url-encoded form submission"

[2016-01-23 02:27] brunobasto commented on #112
:+1:

[2016-02-11 12:00] eduardolundgren opened #115 "Adds support for tracking page resources using Service Worker"

[2016-02-11 12:01] eduardolundgren commented on #110
Fixed. Thx.

[2016-02-11 12:01] #110 closed

[2016-02-11 12:02] eduardolundgren commented on #107
@dimadin This issue is no longer reproducible on 1.0.0-alpha. Thanks!

[2016-02-11 12:02] #107 closed

[2016-02-11 12:08] eduardolundgren opened #116 "New website"
Version 1.0.0 is almost out with many new features!

In order to accompany the new version a website revamp is mandatory.

We are looking for some help here, **if you are interested in being part of the team and helping Senna project** with your web developer skills let us know :)

[2016-02-11 13:23] mateusortiz commented on #116
:+1:

[2016-02-11 19:20] luiztiago commented on #116
:+1:

[2016-02-23 16:45] billwoo opened #117 "Your use of almost washed-out color Type on your web-site makes text unreadable"
### Expected behaviour

I thought I would read the documentation

### Actual behavior

It's almost illegible.

### Steps to reproduce

1. go look

### Browsers affected

Chrome

[2016-02-23 20:37] eduardolundgren commented on #117
Thanks for the feedback! We are planning the new docs and website pages and will be fixed.

[2016-03-03 10:55] jbalsas opened #118 "RequestScreen getRequestPath doesn't work on IE"
### Expected behaviour

On IE, invoking `RequestScreen::getRequestPath` should return the response url

### Actual behaviour

Instead of the reponse url, it always returns `"/"`

### Browsers affected

This affects IE since `XMLHttpRequest.responseURL` is not supported (see https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/responseURL)

[2016-03-03 11:22] jbalsas commented on #118
Hey @eduardolundgren, I've pushed a possible fix to my branch [here](https://github.com/jbalsas/senna.js/commit/6bc099978dfbdee30ec99702520335a00559e1ea). I can send it as a PR if this is the way we want to go, or we can explore other options...

[2016-03-03 11:27] eduardolundgren commented on #118
Good catch! The reason to read from the `xhr` is because the request could have suffered a 302 redirect and which is computed by `xhr.responseURL`. Let me look if there is any way to get this information on IE.

[2016-03-03 11:39] eduardolundgren commented on #118
I guess there is not nice fix for this. The solution is to configure the server to set the response HTTP header `X-Request-URL` to the current URL after any redirect that might have happened. It should be safe to set it unconditionally. Let me dig a bit more before conclusion.

[2016-03-03 11:41] jbalsas commented on #118
Mmm... yeah, the server approach will be more reliable when the user is in control of it. However, that might not always be the case, so at least replacing the state with the navigated path (even if it doesn't account for redirects) might be better than nothing. From this project point of view, at least :)

[2016-03-03 14:02] eduardolundgren commented on #118
Fixed here https://github.com/liferay/senna.js/commit/0cff1e505ce11d685ace3424d3119333d1a876cc.

Thanks!

[2016-03-03 14:02] #118 closed

[2016-03-15 13:59] eduardolundgren opened #120 "Navigation breaks when response is redirected to an external location"

[2016-03-22 03:13] regenrek opened #121 "Getting senna working with custom paths (wordpress)"
Hi

i try to get senna working with wordpress but I'm scratching my head
to the following issue.

I created a folder called 'senna-templates',
where I store the template files. For example:

**/app/themes/mj/senna-templates/work.html**
`<div id="content">
    WORK
</div>`

**/app/themes/mj/front-page.php**
[code]

Don't know how to get this running.

Regards Kevin

[2016-03-22 06:49] remisbaima commented on #121
Under your <div id="content"> you must add a child <div id="content-default"> and it must be called "-default".

[2016-03-22 10:14] regenrek commented on #121
Thats not the problem.

If I set the base path on '/app/themes/mj/senna-templates'.
I always get the message:

senna-debug.js:6206 path: /work
senna-debug.js:6208 basePath: /app/themes/mj/senna-templates/
senna-debug.js:6211 (isSamePath) indexOf === -1
senna-debug.js:5899 Link clicked outside app's base path

[2016-03-22 13:09] eduardolundgren commented on #121
Since you want to route different base paths the best here is leave the base path empty, e.g.:

[code]

That way all routed paths are going to be routed without any restriction of base path.
Also, note that `GET /work` should give you a HTML response since you are using `senna.HtmlScreen`.
If it doesn't work, send here a link reproducing the issue and I can take a look.

[2016-03-28 13:23] nedpals opened #122 "updateScrollPosition not working"
Hi! I'm very new to Senna.js. What I wanted to do in the page is that the scroll position of the page must not goe back to the top once it updates it navigates to another. I followed the code posted at #55 :

`app.setUpdateScrollPosition(false);`

I tried it but still it goes back to the top so I used the browser's (I'm using Firefox) JS console and pasted the code to get the result but it shows l

[2016-03-28 15:20] eduardolundgren commented on #122
The setter exists https://github.com/liferay/senna.js/blob/master/src/app/App.js#L986

I suspect that you are not accessing the right `app` instance. How are you instantiating Senna, via JavaScript or data attributes?

[2016-03-28 22:39] nedpals commented on #122
I instantiating Senna using both methods. I think I should ditch the Javascript one since I initialized using data-attributes. Is there anything that I should do in order for it to work by using the data-attributes?

[2016-03-28 22:40] eduardolundgren commented on #122
To access the app initialized by the data attribute you should use:

[code]

[2016-03-28 22:59] nedpals commented on #122
It's working thanks.

[2016-03-28 22:59] #122 closed

[2016-04-07 01:03] mjbradford89 opened #124 "IE11 does not apply temporary annotated style sheets after navigation"
I'm not 100% sure this is a bug in Senna or Liferay, but the related issue is this one: https://issues.liferay.com/browse/LPS-64816.

Navigating from a page with a `data-senna-track="temporary"` annotated css file, to a page with the same css file, removes the link to this file, and then it gets re-appended on the next screen.  Doing this apparently causes an issue in IE11 where styles from this f

[2016-04-07 01:39] eduardolundgren commented on #124
/cc @brunobasto

[2016-04-12 00:58] mjbradford89 commented on #124
I was able to come up with a test case outside of liferay that demonstrates the issue.  I updated the description and attached a gif.

![ie-issue](https://cloud.githubusercontent.com/assets/6517855/14446812/e3bb6b36-000e-11e6-9617-8c2e0dfd7db2.gif)

[2016-04-12 01:01] eduardolundgren commented on #124
@brunobasto Do you have time to look this issue? I won't be able to look in any time soon.
Thanks @mjbradford89.

[2016-04-12 16:25] brunobasto commented on #124
Hey @eduardolundgren,

I'll talk to @mjbradford89.

[2016-04-13 17:03] mjbradford89 commented on #124
Hey guys, I found out some more info on the problem.  It seems like it's more to do with IE caching than an actual issue in senna.

The bug happens when IE, after a resource has been removed/reappended, resolves the request for css from cache without re-validation, `200 (from cache)`.  Then IE does not try and reapply these styles.

But if the request resolves as just `200`, or `304 / Not Modified

[2016-04-13 17:46] eduardolundgren commented on #124
Another possible solution is before appending the `newStyle` inside `HtmlScreen` check for `href` and if present mutate it an unique url using https://github.com/metal/metal-uri/blob/master/src/Uri.js#L246.

[2016-04-13 17:47] eduardolundgren commented on #124
Similar to what we do here https://github.com/liferay/senna.js/blob/master/src/screen/RequestScreen.js#L114-L116

[2016-04-13 18:31] mjbradford89 commented on #124
Oh I like that solution better :smiley:.  Would it be a problem that this would cause CSS to never really be cached in IE?  We could just target <= IE11, since Edge does not have this problem.

I'll implement it and test it out.

[2016-04-13 21:07] mjbradford89 commented on #124
Submitted a pull: https://github.com/liferay/senna.js/pull/125

[2016-04-13 21:17] eduardolundgren commented on #124
Merged, thank you! :)
Tagged new version also https://github.com/liferay/senna.js/releases/tag/v1.0.2

[2016-04-13 21:17] #124 closed

[2016-04-19 19:54] mjbradford89 opened #126 "IE11/Edge form submit - 302 redirect to same page will serve cached content"
This issue causes https://issues.liferay.com/browse/LPS-63690 in portal.

### Expected behaviour

Submitting a form that responds with a redirect (302 or other), will fetch the content from the server instead of browser cache.  This is especially crucial when logging in with the expectation of ending up on the same url, like in LPS-63690.

### Actual behaviour

The browser will submit the form, se

[2016-04-19 19:55] mjbradford89 commented on #126
I believe I have a fix for this one.  Just writing a unit test now and will submit to @brunobasto.

[2016-04-19 19:56] brunobasto commented on #126
Awesome! Thanks @mjbradford89.

[2016-04-19 21:09] mjbradford89 commented on #126
sent a pull: https://github.com/brunobasto/senna.js/pull/1

[2016-04-20 06:52] jbalsas commented on #126
Awesome analysis, @mjbradford89! Great job!

[2016-04-20 17:06] mairatma opened #127 "Senna.js doesn't work with route set to "/" when base path is set"
I'll send a pr for this soon, so just documenting this issue for now.

### Expected behaviour

Navigating to `/base`, `/base/` and `/base/path` works.

### Actual behaviour

Navigating to `/base` or `/base/` won't work, though `/base/path` works fine.

### Steps to reproduce

1. Use the following code:
[code]
2. Try to navigate to `/base`
3. Try to navigate to `/base/`
4. Try to navigate to `/base

[2016-04-21 05:01] #127 closed

[2016-04-22 19:39] mjbradford89 commented on #126
Closing this issue as it was resolved by https://github.com/liferay/senna.js/pull/129

[2016-04-22 19:39] #126 closed

[2016-05-04 11:08] antoniopol06 opened #130 "Html tag attributes do not keep"
Base on this part of code
https://github.com/liferay/senna.js/blob/master/src/screen/HtmlScreen.js#L42-L52

Html tag attributes are not updated by innerHtml

[2016-05-04 11:15] jbalsas commented on #130
This is particularly important if you navigate from a `ltr` site to a `rtl` one and vice-versa. In this case, you'll start with

[code]

and then, if you switch and start serving your Right-to-Left content, you'll end up with:

[code]

[2016-05-04 16:24] eduardolundgren commented on #130
The only way here is to sync the attributes of the HTMLNode.

[2016-05-04 16:36] brunobasto commented on #130
We might need to sync the attributes of the <body> node too. Not just the 'class' attribute. I'll work on that next.

[2016-05-04 17:47] eduardolundgren commented on #130
Which node? HTMLNode?

[2016-05-04 17:58] brunobasto commented on #130
Sorry, my previous comment was not markdown compatible :) (already fixed).

I was talking about the BodyNode.

[2016-05-04 18:26] eduardolundgren commented on #130
SGTM. Both html/body needs to be synced. Anyone available to work on that?

[2016-05-06 16:32] mairatma opened #131 "Image fails to show up when using senna with main route file that is not on the url's root"
### Expected behaviour

Image should show up.

### Actual behaviour

Image doesn't show up. The GET request fails, and inspecting the network request shows that the url that was fetched is wrong. See screenshots:
<img width="640" alt="screen shot 2016-05-06 at 1 17 38 pm" src="https://cloud.githubusercontent.com/assets/5216049/15079101/edf54086-138c-11e6-866c-c8e6dfd36282.png">

<img width="669" a

[2016-05-06 18:23] mairatma commented on #131
Forget the last thing I said, about setting the route to `/demos/senna/` fixing the problem. I thought it was fixed because senna wasn't detecting the route correctly with that url, which is a separate bug (already sent a [pr](https://github.com/liferay/senna.js/pull/132) for this).

So the only thing that I know works is to have the **index.html** file in the project root.

[2016-05-28 01:17] mjbradford89 opened #136 "Canceled history navigation can remove styles prematurely"
This issue causes https://issues.liferay.com/browse/LPS-66049 in portal.
### Expected behaviour

Clicking back button twice consecutively will not cause any flash of unstlyed content.
### Actual behaviour

Clicking back button twice can can cause a flash of unstlyed content.

![2016-05-23_16-48-12](https://cloud.githubusercontent.com/assets/6517855/15624234/00b5c69a-2437-11e6-900c-327dde297d04.gif

[2016-05-28 01:25] mjbradford89 commented on #136
submitted a potential fix to bruno: https://github.com/brunobasto/senna.js/pull/2

[2016-06-02 19:01] zenorocha opened #137 "Document [data-senna-track] attribute"

[2016-06-06 17:53] zenorocha commented on #103
Just opened an issue for cdnjs: https://github.com/cdnjs/cdnjs/issues/8163

[2016-06-06 17:57] zenorocha commented on #117
Closing this one since it's related to #116. Thanks for reporting @billwoo!

[2016-06-06 17:57] #117 closed

[2016-06-06 18:18] #103 closed

[2016-06-06 18:24] zenorocha commented on #137
Closing this one since it should live on sennajs.com.

[2016-06-06 18:24] #137 closed

[2016-06-06 18:30] zenorocha commented on #108
Just checked the blog demo and it's not working like @dimadin reported.

The issue is related to `senna.debounce` which appears to be removed.

[2016-06-06 18:35] zenorocha commented on #116
We have a repository dedicated to the site so we should probably move this discussion there. https://github.com/liferay/sennajs.com

[2016-06-06 18:35] #116 closed

[2016-06-06 18:40] #67 closed

[2016-06-06 18:40] #43 closed

[2016-06-07 00:09] #111 closed

[2016-06-07 03:27] rotty3000 opened #139 "there are no examples of the configuration via meta attributes using "senna-route""
### Expected behaviour

I'm interested in understanding the configuration of the following:

[code]
### Actual behaviour

There's no documentation to explain the relevance of the attributes or the syntax supported by them.

[2016-06-07 04:43] eduardolundgren commented on #139
When starting senna from JavaScript, routes can be added by calling `app.addRoutes(...)` directly.

Another way to initialize senna is from data attributes, `data-senna`. In this case, you can use `<link rel="senna-route" href="regex:\w+\.html(#\w+)?" type="FooScreen" />` elements to add routes from markup instead.

We definitely need docs more docs to it.

[2016-06-07 15:17] rotty3000 commented on #139
Thanks Eduardo, given the following:
[code]
when the fragment urls are used the router complains:
`No route for .../1.html#f1`

[2016-06-07 15:57] rotty3000 opened #140 "Should there be an event for fragment urls (to same page)?"
### Feature Request

Currently fragment urls to the same page are ignored by the router. However, would it perhaps be appropriate for there to be a special event, rather than ignoring, such that this behaviour could be implemented without any external logic?

For example, given the following event handler:

[code]

it can be observed that fragment urls to the same page do not result in an `endNavi

[2016-06-07 16:19] brunobasto commented on #130
Fixed on: af4fb6646349251ab25095a01f2e95df1782f041

[2016-06-07 16:19] #130 closed

[2016-06-07 16:36] eduardolundgren commented on #139
Senna supports fragment navigation in routed paths, although it handles it as regular fragments, not as regular request-able pages (as the native browser behavior for fragments).

On your example, senna wasn't able to find `FooScreen` reference, then it was failing to register the routes, therefore you've got the `No route for ...`.

Since you are using html pages you can simply change the screen

[2016-06-07 16:40] eduardolundgren commented on #140
Like explained here https://github.com/liferay/senna.js/issues/139#issuecomment-224338818, fragments works with routes, although they are just delegated to the browser to behave as natively. Therefore no events are fired.

Since it's processed by the router navigation, I agree with you that make sense to fire events for fragments also. Let me look if it won't cause any issues with the existing lif

[2016-06-07 16:51] eduardolundgren opened #141 "Issue that fragment is lost when navigating to different page with fragment (#hash)"
### Expected behaviour

Navigation from `a.html -> a.html#hash` or `a.html -> b.html#hash` should keep the `#hash` fragment on the browser url.
### Actual behaviour

Currently it's loosing the #hash when navigating to different pages.
### Steps to reproduce

![](http://f.cl.ly/items/2F2k3p1t2G040q3r3y45/fragment-bug.gif)

Download example: http://cl.ly/0P082r0i201c/fragment.zip
### Browsers affect

[2016-06-07 16:51] eduardolundgren commented on #140
In addition to the event, I found a bug when navigating to different pages with #hash, https://github.com/liferay/senna.js/issues/141.

[2016-06-07 16:52] eduardolundgren commented on #141
/cc @mjbradford89 @brunobasto Could you guys take a look on this issue?

[2016-06-07 16:53] eduardolundgren commented on #140
/cc @mjbradford89 @brunobasto This one is an improvement that we can add, could one of you analyze it? Thanks!

[2016-06-07 16:57] rotty3000 commented on #139
:+1:
Ok, cool! so I had tried to use `type="HtmlScreen"` also but that had caused similar errors.. This should also be included in the documentation!

[2016-06-07 16:58] eduardolundgren commented on #139
Yeah, we are discussing right now the new site/docs for the 1.0.0 version. Thanks for reporting them.

[2016-06-07 17:02] rotty3000 commented on #139
Is it possible that there is an issue only caused by the fact that I am using file system urls?

When I change to `type="senna.HtmlScreen` it seems to register the route now file:
[code]
However when I navigate through a fragment url I get the log:
[code]
Is this just a badly placed log output?

[2016-06-07 17:33] rotty3000 commented on #139
I believe the issue is with this block: https://github.com/liferay/senna.js/blob/master/src/app/App.js#L272-L275

This is a misleading log message. What really happened is the path was rejected because of the same page. The path was returned as null.
I think this case should be logged to indicate as such so that people don't get confused.

[2016-06-07 17:35] rotty3000 commented on #139
Re: https://github.com/liferay/senna.js/blob/master/src/app/App.js#L415-L418

[2016-06-07 17:35] eduardolundgren commented on #139
Yeah, that's correct. This is because senna "lets" the fragments navigation to the same page to go natively and then the log is misleading. I will leave this issue open to keep this suggestion registered.

[2016-06-08 16:27] mjbradford89 commented on #141
Sure, looking into this today.

[2016-06-08 23:32] mjbradford89 commented on #141
Sent an update to Bruno for review: https://github.com/brunobasto/senna.js/pull/3

[2016-06-09 20:16] mjbradford89 commented on #140
I looked into this one a little and see an easy way to emit a `fragmentNavigate` or `startFragmentNavigate` event.  But I'm not sure if it's possible for an `endFragmentNavigate`, since the browser is handling that natively, and it would be hard to tell when that is complete.  Any ideas?

[2016-06-09 20:20] mjbradford89 commented on #140
something like this could work for just a general `fragmentNavigate` event: https://github.com/liferay/senna.js/commit/87acb0798f81b64dc28b2999a8e4444a619f14cd

[2016-06-09 20:35] rotty3000 commented on #140
Is it relevant to determine end of fragment navigation?

I think it's still useful to know that a route was indeed matched for the
url, but simply that what it discovered was a fragment url to the same page
rather than to another page, and that this is delegated to native browser
behavior.

So, I find your last `fragmentNavigate` the most appropriate!

On Thu, Jun 9, 2016 at 4:20 PM, Michael Bradf

[2016-06-16 21:57] wayward710 opened #147 "Server calls when using "back" button"
When I click the "back" button, there are server requests (that show up in the Navigation view of the web console).

For example, if I'm on "http://mysite.com/web?page1" and then navigate to "http://mysite.com/web?page2" using Senna routes, and then click the "Back" button, I see a request that looks like "http://mysite.com/web?page1" (with a status of 200) in the network view.

Is there any way t

[2016-06-18 01:09] mjbradford89 opened #148 "IE11 - Page can be flipped before resources have finished loading"
This issue is caused by my fix for https://github.com/liferay/senna.js/issues/124 :cry:.

It is causing https://issues.liferay.com/browse/LPS-66507 in Portal.

I originally thought it was a metal-dom issue: https://github.com/metal/metal-dom/issues/3.

### Expected behaviour

On navigate, all resources finish loading before the surface is flipped.

### Actual behaviour

In IE11, the screen is flip

[2016-06-20 17:26] mjbradford89 commented on #148
I created a issue on the Microsoft issue tracker to track the load event behavior issue: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7940171/

[2016-06-21 21:46] zenorocha commented on #108
Fixed at https://github.com/liferay/senna.js/commit/0792063c0941ff8d1e81cc4851a57fcc8368e3b9

Thanks for reporting @dimadin!

[2016-06-21 21:46] #108 closed

[2016-06-28 23:19] zenorocha opened #151 "Follow 301 redirects"
If you have a link that redirects to another one using a 301 redirect, Senna should be able to follow it instead of throwing an error.

[2016-06-28 23:23] zenorocha opened #152 "Senna not working on HTTPS pages"
When a user visits a page served over HTTPS and clicks on a link, Senna makes a request to HTTP instead of HTTPS causing a mixed content error.

I had to override the `formatLoadPath` function in order to fix that.

[code]

https://developer.mozilla.org/en-US/docs/Web/Security/Mixed_content

[2016-06-29 00:56] mjbradford89 commented on #140
Hey @rotty3000,  Eduardo and I were trying to figure out the best scenario for a fragmentNavigate event to be fired but we were unclear on how exactly it will be used.  Should the path with the hash need to be a registered route for the event to fire?  Or should it fire on any navigation to an element on the page?

It might help to know the scenario you were wanting to listen to this event for.  :

[2016-06-29 08:16] rotty3000 commented on #140
Imagine you have a `overflow: scroll` block which is the senna target area.

On the page there are urls which are mixed between regular urls which
change the content of the target area and also fragments into existing
content within block.

It may be desirable to update the scroll position of the content in the
block.

Make sense?

[2016-06-29 14:13] brunobasto commented on #151
Hey @zenorocha,

Can you provide an example? Redirects are already supported.

[2016-06-29 16:10] eduardolundgren commented on #152
Since we can only navigate to paths inside the same domain/protocol the fix suggested is appropriate.
We need to just make sure other base parts of the URL is set, such as port (if present).

@mjbradford89 Could you tackle this one too?

Thanks!

[2016-06-29 17:57] mjbradford89 commented on #152
sure :smile:

[2016-06-29 20:44] mjbradford89 commented on #140
Yeah that makes sense @rotty3000 .  There is a native browser event, [hashChange](https://developer.mozilla.org/en-US/docs/Web/API/WindowEventHandlers/onhashchange), that you might be able to leverage for that purpose.  But it makes sense that senna should allow you listen for that type of navigation as well.

in your example, the fragment links wouldn't be registered as their own specific routes,

[2016-06-29 21:02] rotty3000 commented on #140
If I just route everything ".*" Then it should include the fragments. In
fact the regex shouldn't exclude the fragments unless configured to do so.

- Ray
On Jun 29, 2016 10:45 PM, "Michael Bradford" <notifications@github.com>
wrote:

Yeah that makes sense @rotty3000 <https://github.com/rotty3000> . There is
a native browser event, hashChange
<https://developer.mozilla.org/en-US/docs/Web/API/Windo

[2016-06-30 00:48] mjbradford89 commented on #140
hmm true,  I think currently setting ".*" as a route won't include fragments.  We may want to create a separate issue for that.

[2016-06-30 01:28] rotty3000 commented on #140
that's not entirely true!

The only reason the route does not process the url with a fragment is because of this block:

https://github.com/liferay/senna.js/blob/master/src/app/App.js#L415-L418

[2016-06-30 15:30] NathanGrimaud opened #153 "Trackable resources aren't removing js files"
I'm trying to use trackable ressources for my Cordova app, but it looks that my js files aren't removed after navigation.
It's working for stylesheets.

`<head>`
`<script type="text/javascript"  data-senna-track="temporary" src="./foo.js"></script>`
`<link  data-senna-track="temporary" rel="stylesheet" href="./foo.css" title="index" type="text/css" media="screen" charset="utf-8">`
`</head>`

Routi

[2016-06-30 16:56] brunobasto commented on #153
Hey @NathanGrimaud thanks for reporting this.

So, just to clarify:

- you are in "page A" which has foo.js in it's header
- you navigate to "page B" which doesn't have foo.js in it's header
- you can still see the foo.js script tag in there at this point?

Is that it?

Does the code inside foo.js execute once or more than once?

[2016-06-30 17:04] NathanGrimaud commented on #153
I'm in "Page A" , foo.js is included in header
Then i navigate to "Page B" which does not contains foo.js, but it's still loaded.
When I go back to "Page A", the parser tells me that it can't redeclare functions inside "foo.js".

foo.js contains a Knockout.js ViewModel, so it's exectuted more than once :)

[2016-06-30 17:09] brunobasto commented on #153
Oh, I see. So your problem is that this resource is "permanent" rather than "temporary".

Temporary scripts are executed whenever you navigate to the page containing them. Permanent ones, on the other hand, will only execute once. That's probably what you are looking for.

[2016-07-01 02:48] #148 closed

[2016-07-01 13:06] NathanGrimaud commented on #153
Thanks, this now works as i want :)

A last question, is there a way to get a callback when navigation is done with Data attributes ? Maybe a custom Screen ?

[2016-07-01 15:37] zenorocha commented on #153
Yes, you can do that:

[code]

[2016-07-01 15:37] #153 closed

[2016-07-01 16:07] eduardolundgren commented on #147
This is happening because you didn't call `app.dispatch()` on the page load for the main page. This allows Senna to prefetch the content a head of time.

[2016-07-01 18:10] mjbradford89 commented on #152
Submitted the suggested fix: https://github.com/liferay/senna.js/pull/157

[2016-07-01 18:46] eduardolundgren commented on #152
Merged. Thanks!

[2016-07-01 18:46] #152 closed

[2016-07-01 19:18] zenorocha opened #158 "File size"
At this moment Senna is 17kb gzipped which is very big for a JS library.

Is there a way for us to optimize it? /cc @mairatma

<img width="186" alt="screen shot 2016-07-01 at 12 15 33 pm" src="https://cloud.githubusercontent.com/assets/398893/16532260/c024bd4c-3f85-11e6-8041-5df52f013c27.png">

[2016-07-01 22:31] mjbradford89 commented on #140
After working on a few ways to implement and use a `fragmentNavigate` event,  I'm not sure there is anything senna can provide that the native `hashchange` event does not provide already.   The `overflow: scroll` example could be solved with a `hashchange` listener as easy as an event from Senna.js.

So I would vote to not introduce any new events, and instead recommend users use the native browse

[2016-07-01 22:34] rotty3000 commented on #140
it's just ugly to also have to use `hashchange` because senna already did all the work up to that point! that seems like wasted processing time.

but it's not a showstop I guess

[2016-07-08 12:39] yuchi commented on #158
Did you try to build it with [Rollup.js](http://rollupjs.org/)? It should reduce the file size by using tree shaking.

[2016-07-11 17:47] eduardolundgren commented on #158
@mairatma Would that be possible?

[2016-07-11 17:56] mairatma commented on #158
Yep, we should be able to use it, the only difference is that the final senna.js file would not include all of Metal.js, since Rollup.js will remove any code from Metal.js not being used directly by senna (that's why it will be smaller in the end).

That shouldn't be important since this file is supposed to be a way to use senna standalone, right? In projects that use both senna and metal the idea

[2016-07-11 18:44] yuchi commented on #158
Exactly why I proposed it in the first place.

And that’s what should be happening right now.

[2016-07-11 19:06] mairatma commented on #158
You're right, that would already happen now if the global senna build is used. The thing is that now you can just include senna and have both Metal.js and Senna.js available on globals, but with the Rollup build this won't be doable anymore. But, like I said, that shouldn't be important, people using senna's build want Senna.js, not Metal.js.

[2016-07-11 21:48] yuchi commented on #158
Oh right! But if you think about it it’s not a good thing!

Anyway if you move to Rollup it’s probably a good idea to move to named exports instead of classes. This way tree shaking build engines (be it Rollup or webpack’s) can correctly shim it down to the minimal dependency tree.

[code]

[code]

[2016-07-20 17:23] mjbradford89 commented on #131
I think this is happening because we are using `window.history.pushState`, and changing the relative path of the current document.  So instead of `/demos/senna/`, it's now `/demos/senna`,  so the relative path on the image, `img/img1.jpg`, interprets that as `http://localhost:8000/demos/img/img1.jpg` instead of the correct path `http://localhost:8000/demos/senna/img/img1.jpg`.  Notice the missing

[2016-07-20 17:31] eduardolundgren commented on #131
We have a related issue open here https://github.com/metal/metal-uri/issues/3. We need to analyze what is the proper behavior for those different scenarios.

[2016-08-05 19:09] mairatma commented on #131
Eduardo helped me out with this, it seems like it's not really a bug at all, this is the expected browser behavior, it's trying to fetch the image by using its relative path with different urls each time. This can be fixed by adding a `<base href="/demos/senna/">` tag to `head`.

It's not a bug then, so I'm closing this. It might be cool to try to have senna make this easier for developers, so the

[2016-08-05 19:09] #131 closed

[2016-08-19 00:00] eduardolundgren opened #167 "Cannot dispatch navigate for urls with fragments"
### Expected behaviour

If a url contains a fragment and there is a router that matches the path it should dispatch navigate.
### Actual behaviour

It will not dispatch navigate for existing route pattern, see https://github.com/liferay/senna.js/blob/master/src/app/App.js#L429.
### Steps to reproduce
1. Create a test.html with route for /foo/*
2. Initialize senna, and call app.dispatch()
3. Open t

[2016-08-23 15:20] krisak opened #168 "Regular expression not matched for manually created routes"
When i do the simplest example from the docs:
![screen shot 2016-08-23 at 17 18 39](https://cloud.githubusercontent.com/assets/4954323/17897787/c166e5e6-6955-11e6-88af-a6f5d456e18b.png)

I have no idea how can i be getting there is no route for /random because there obviously is.

[2016-08-23 15:23] krisak commented on #168
I am sorry if i am spamming this but i must be superdump or something.

Thank you.

[2016-08-23 15:39] krisak commented on #168
Works as expected when initiated using data attributes.
Data atributes with
`<link rel="senna-route" href="regex:.*" type="senna.HtmlScreen" />`
and
`var app = {};

document.addEventListener('DOMContentLoaded', function() {
  console.log('domloaded');
   app = senna.dataAttributeHandler.getApp();
});
`
then console says
`Senna scanned route /.*/
app.navigate('/random');
Navigate to [/random]`

I h

[2016-08-23 16:38] mjbradford89 commented on #168
Hey @krisak, thank you for reporting this.  I was able to reproduce this in our basic example.  I edited the issue title to be more clear.

[2016-08-23 16:51] mjbradford89 commented on #168
Hey @krisak, after looking into this a bit further, there's actually an issue with your example.  You shouldn't pass in a regular expression as a string.  Instead add your regex route without quotes, like this:

[code]

I've tested and confirmed this works.  I'm closing this issue but please reopen it if you're still having issues.

[2016-08-23 16:51] #168 closed

[2016-08-23 18:40] krisak commented on #168
I KNEW SOMETHING SUPEROBVIOUS MUST BE GOING ON. THX

[2016-08-25 12:12] krisak opened #169 "More advanced example"
I know this is not support forum but i read through all the tickets and try to wrap my head around a source code. But i am asking for good wa to to this.

My issue starts to happen when i want to have some surfaces to not update on certain routes.
example similar to http://sennajs.com/examples/email/index.html but with little more functionality:
![thearticlesproblem](https://cloud.githubuserconten

[2016-08-25 14:57] iskrisis opened #170 "Delay/throttle cashed flip"
When going to cashed url, the flip is almost instatinous. This is awesome but for percived performance it would be good to have some fast delay so transitions have time to finish.

How too set minimum time before senna flips the screens?

Thank you!

[2016-08-25 18:23] mjbradford89 commented on #169
Hey @krisak,

Good question.

I think the best/most efficient approach for this is for the server to only send the surface that needs to be updated.  For example:

index.html
[code]

col1.html
[code]

And then you would have other pages like col2.html, etc..  This minimizes the amount of data in each request.  There are some special cases that would need to be handled server side, like a user navi

[2016-08-25 19:38] mjbradford89 commented on #170
Hey @krisak,

There is no way to do this out of the box.  One way to get this to work though is to extend the App class and override the `doNavigate_` and `finalizeNavigate_` method.  It may look something like:

[code]

I haven't tested this, it's just an idea for one way it could work.

I'm going to label this issue a feature request, so there is a possibility we add this functionality in the fu

[2016-08-26 11:27] krisak commented on #169
I tried this approach before but it gives me default surface (surface from first visit). It adds -default after the init id.

[2016-08-26 16:15] eduardolundgren commented on #169
@krisak I have recorded the issue. Could you confirm if it's the problem you have?

![static](https://cloud.githubusercontent.com/assets/113087/18012127/fd019af6-6b6c-11e6-894a-fa958139292e.gif)

1) Page first loads on index.html - have the surface [index].
2) Then navigate to foo.html -- have the surface [foo].
3) Then navigate to bar.html - that doesn't have the surface.
4) The result is display

[2016-08-26 19:36] krisak commented on #169
Wow thanks guys. You are pretty awesome maintainers. I tried custom surface and well i got somewhere but then decided that its actualy better to use more classic approach. I think this is not feature one would expect and if i did i should probably use some solution that renders everything on client. Since this breaks linkability of website it is sort of antipattern i guess.

On that note Custom Sc

[2016-08-26 19:48] brunobasto commented on #169
@krisak I'm glad you figured out a solution!

I agree with you that we shouldn't rely on babel helpers in our examples. It would be really appreciated if you were willing to contribute to improve our docs. Feel free to send suggestions and pull request any time: https://github.com/liferay/sennajs.com

Thanks,

[2016-08-26 20:57] eduardolundgren commented on #169
@krisak Yeah, this docs are from the times before ES15, we need to update them.

/cc @mjbradford89

[2016-08-26 21:19] krisak opened #171 "When senna ready event"
Sorry for posting another issue.

Is there any event emitted when senna router kicks in? I am bit worried about the time between "some html shows up" and senna router ready to handle requests. I would just disable site before senna is ready (most of the time i am waiting for fonts anyway).

I cant find anything in the docs or examples. It would be good starting point for bootstraping aplication.

[2016-08-26 21:24] eduardolundgren commented on #171
It binds during `DOMContentLoad`, see https://github.com/liferay/senna.js/blob/master/src/app/dataAttributeHandler.js#L12.

If you desire to do something that happens after senna is bound you can do by adding a listener after senna resource is loaded.

[code]

[2016-08-26 21:40] krisak commented on #171
Lovely. Thx. It worked i just was not sure. Another piece for docs i guess.

[2016-08-26 21:41] eduardolundgren commented on #171
True. /cc @mjbradford89 One more doc for us to add. Thanks!

[2016-08-26 21:41] #171 closed

[2016-08-26 21:49] krisak commented on #170
Not realy sure how to build this since the senna.js has to import all kinds of other things (HtmlScreen, RequestScreen, Route, Screen). But i havent tried enough probably.

After thinking aboit it a lot. I think it would be very useful for this funcionality. It will be probably useful for almost every project. Percieved performance is not only about speed but also about consistency. When you make

[2016-08-26 21:54] krisak commented on #171
I will help with the docs when i wrap my head around it.

[2016-09-20 20:16] b0jan commented on #158
Shoudn't be ~8KB?

[2016-09-20 20:29] mairatma commented on #158
@b0jan yes, but the way it's currently being built is including a bunch of dead code due to external dependencies.

I have a plan to try to fix this using rollup, by making metal use more named exports like @yuchi has recommended. At first we thought that wouldn't be possible, as changing the export calls  would break existing imports, but I've actually realized that we can do both named and defau

[2016-09-20 20:55] b0jan commented on #158
@mairatma Oh ok, home page was saying it was around 8kb. Can you tell me when this can be fixed?

[2016-09-21 13:31] mairatma commented on #158
I don't have an exact timeline, but I'm trying to get it done this week. As soon as it is I'll let you know here, ok?

[2016-09-30 20:04] b0jan opened #173 "Track url changes"
In case I have to execute a chunk of JS code on every page change, how do that?

I have setup the app in this way and works fine, the problem is the other scripts are execute only first load of the page.

var app = new senna.App();
app.addSurfaces('main');
app.addRoutes(new senna.Route(/.*/, senna.HtmlScreen));

[2016-09-30 20:07] eduardolundgren commented on #173
Have you looked the trackable resources example? https://github.com/liferay/senna.js/tree/master/examples/trackable_resources

This should be enough for what you need.

[2016-09-30 20:25] b0jan commented on #173
Yes I'm already using trackable resources. But how can I programmatically track URL changes?
Say in this example:

 for every page change to show in console.log("changed");

[2016-09-30 20:26] b0jan commented on #173
Yes I'm already using trackable resources. But how can I programmatically track URL changes?
Say in this example:

var app = new senna.App();
app.addSurfaces('main');
app.addRoutes(new senna.Route(/.*/, senna.HtmlScreen));

for every page change to show in console "Changed"?

[2016-09-30 20:27] brunobasto commented on #173
You can try

`app.after('endNavigate', function() {
    console.log('Navigated');
})`

[2016-09-30 20:28] eduardolundgren commented on #173
Yep, more info here http://sennajs.com/docs#lifecycleevents

[2016-09-30 20:30] b0jan commented on #173
@brunobasto @eduardolundgren Perfect! Thanks guys!

[2016-09-30 20:30] eduardolundgren commented on #173
If you are initializing senna from the data attributes and have no access to the `app` instance you can get from `var app = senna.dataAttributeHandler.getApp();`.

[2016-09-30 20:30] #173 closed

[2016-10-17 07:15] pragmaticivan opened #174 "It's adding 2 assets when using wiredep"
It's declared on bower.json as:

[code]

When installing `bower install senna --save` It's adding both `senna.js` and `senna-min.js` into the html file.

Is that normal?

[2016-10-18 01:46] pragmaticivan opened #175 "Integrate with rollupjs"
The site ask us to install via npm but seems to nob work with ES6 import.

[2016-10-18 13:07] mairatma commented on #175
It should work already work, I've even used it already. There's a pull request [here](https://github.com/liferay/senna.js/pull/172) that builds senna js with rollup by the way. What kind of problems did you have?

[2016-10-18 14:59] #175 closed

[2016-10-18 15:59] mairatma commented on #174
You're right, we should only be passing either one or the other to `main`, since there are many tools like `wiredep` that automatically add these files. I just checked the [bower config specification](https://github.com/bower/spec/blob/master/json.md) and it says that `main` shouldn't have minified files, so I'll remove that one then.

[2016-10-18 16:00] #174 closed

[2016-12-15 16:09] pragmaticivan opened #178 "Review saucelabs connection"
All the CI tests are failing due to bad setup with saucelabs, maybe the key has changed or something like that.

[2016-12-15 16:57] mairatma commented on #178
Yes, they only fail for pull requests though, if you check the usual tests they all pass. This is a problem with the configuration, because saucelabs doesn't allow usage of encrypted environement variables for the saucelabs access keys in the way we're using them. I fixed this for the metal.js repo a while ago, I'll try to find some time to fix it for senna.js as well.

[2016-12-19 13:33] yuchi opened #180 "Feature request: nested routers"
(This is not a specific issue so I’m not using the provided template. Sorry)

### Problem

In Liferay DXP, and in general on applications with a pluggable UI infrastructure, when Senna is enabled it is not possible to have “inner” SPAs. Let me show a portlet-oriented example (replace “portlet” with “widget” if you have a hard time understanding the example).

Let’s say that within a website I plac

[2016-12-19 14:10] brunobasto commented on #180
Hey @yuchi,

I'm not sure I fully understand the issue. So, basically, you are experiencing issues when doing `history.pushState( … );` on your own? In theory, if the new url is not routed by Senna, Senna shouldn't be interfering with it. Is that what's happening?

[2016-12-19 14:43] yuchi commented on #180
Actually I prevented myself to even try to implement a custom SPA on a page that has Senna on it.

As I saw from the code we are using a `senna` attribute on the state to manage if we need to trap it or not. The issue is that moving back to a page loaded with senna would still have `senna` set to `true`.

Let me create a minimal test case.

[2016-12-20 00:49] jonnilundy opened #181 "Senna Loading Bar CSS duplicate"
https://github.com/liferay/senna.js/blob/master/src/senna.css

Why are there two sections calling .senna-loading-bar with overriding background colors?

[2016-12-20 03:48] eduardolundgren commented on #181
Analyzing the blame https://github.com/liferay/senna.js/blame/master/src/senna.css it seems like it's an error and should only keep the last value.

[2016-12-22 00:03] yuchi commented on #180
@brunobasto I probably made a small enough test case. Have a look here: https://github.com/yuchi/senna-nester-routes-test-case

Make it start with

    npm install
    npm start

### Steps to reproduce

- launch the test case with `npm start`
- visit `http://localhost:3000/index.html`
- click `other.html`
- click `Push state`
- click `Push state` again
- go back with your browser history
- the tex

[2016-12-22 00:08] brunobasto commented on #180
Hey @yuchi, thanks for providing the test case with detailed steps to reproduce. I'll take a look and let you know how it goes.

[2016-12-22 00:46] eduardolundgren commented on #180
I cannot run the test case provided on the issue https://gist.github.com/eduardolundgren/1588bdb3439c6ba8ed4a220d97264811. Do you require any specific node version?

When senna detects `popstate` it checks for `state.senna` flag to be there, if it’s not there it should ignore completely or reload the page in case of back button is pressed, this might be what is causing issues for you.

If your iss

[2016-12-22 01:05] yuchi commented on #180
Looks like `serve` requires Node v6+.
Just run `npm run build` and then open an HTTP server on the *public* directory.

[2016-12-22 17:42] #181 closed

[2016-12-27 17:52] eduardolundgren commented on #180
When you go from:
* index.html `(s1)` -> other.html `(s2)` -> other.html?count=1 `(s3)` -> other.html?count=2 `(s4)`

Then when you go back from:
 * other.html?count=2 `(s4)` ->  other.html?count=1 `(s3)`

Then when you go back again from:
* other.html?count=1 `(s3)` ->  other.html `(s2)` it should render `(s2)`

Considering that `(s1)` and `(s2)` are Senna states, it must navigate through Senna t

[2016-12-28 00:24] yuchi commented on #180
If you add a `s5` where the user goes back to index.html and then you use the history drop down to skip to `s3` nothing will happen because:
- senna should navigate but it will not (there's no `senna:true` attribute in the state)
- a pop state event is triggered but the correct listener is not fired since it correctly unloaded when moving from s4 to s5

[2017-01-02 00:07] stiemannkj1 opened #184 "SennaJS jumps to the top of page after navigation."
### Expected behaviour

When SennaJS navigates, it should maintain the current scroll position.

### Actual behaviour

As described in [this StackOverflow post](http://stackoverflow.com/questions/28505843/prevent-a-click-on-a-link-from-jumping-to-top-of-page-in-sennajs/41420085), when SennaJS navigates, it also jumps to the top of the page.

### Steps to reproduce

1. Go the [SennaJS Gallery Examp

[2017-01-02 02:50] eduardolundgren commented on #184
Did you try `app. setUpdateScrollPosition(false)` this should disable the scroll to jump to the top of the page.

[2017-01-02 05:28] stiemannkj1 commented on #184
@eduardolundgren, that works, thanks. Sorry to waste your time.

[2017-01-02 05:28] #184 closed

[2017-01-03 05:06] eduardolundgren commented on #184
Could you please answer on stack overflow with this solution? Thanks.

[2017-01-03 14:00] stiemannkj1 commented on #184
@eduardolundgren, already did: http://stackoverflow.com/questions/28505843/prevent-a-click-on-a-link-from-jumping-to-top-of-page-in-sennajs/41420085#41420085

[2017-01-05 02:41] holatuwol opened #185 "If the HTML title contains character entities, the title bar / tab does not render correctly"
### Expected behaviour

`<title>left &amp; right</title>` will render as "left & right" in the title bar, no matter how the page is loaded.

### Actual behaviour

`<title>left &amp; right</title>` will render as "left & right" in the title bar, only if the page is loaded directly. It will render as "left &amp;amp; right" if the page is loaded through Senna.js

[2017-01-05 04:45] eduardolundgren commented on #185
This is the native behavior when entities are passed to `document.title = '&amp;`, more specifically, it happens [here](https://github.com/liferay/senna.js/blob/master/src/app/App.js#L1109). The correct fix is to unescape entities before setting the title in order to behave as when it's unescaped natively by the dom node. The unescape entities implementation is not so trivial since it needs to pro

[2017-01-05 13:49] fernandosouza commented on #185
Sure, @eduardolundgren.

[2017-01-05 20:35] holatuwol commented on #185
@eduardolundgren

The specification for the [title element](https://www.w3.org/TR/1999/REC-html401-19991224/struct/global.html#edef-TITLE) says, "Titles may contain character entities (for accented characters, special characters, etc.), but may not contain other markup (including comments)." Is there a reason to retain all of the innerHTML of the title and then introduce the complexity of escaping

[2017-01-05 23:37] eduardolundgren commented on #185
@holatuwol You're right, it's unnecessary complexity to unescape entities for that when we can use the title setter to do the job for us  After some experiments here, I came to the following conclusion:

1) The correct behavior for when the title is extracted from the HTML parsing is setting through `document.getElementsByTagName('title')[0].innerHTML = '  foo &amp; bar <script>alert("hi")</script

[2017-01-06 14:22] fernandosouza opened #187 "Adds Saucelabs encripted key in .travis.yml file"
This is necessary for running tests for pull requests. This is explained in more details in another issue in the Metal repo. https://github.com/metal/metal.js/issues/172

[2017-01-06 22:12] #187 closed

[2017-01-06 22:57] #185 closed

[2017-01-06 23:57] eduardolundgren commented on #185
Fixed on https://github.com/liferay/senna.js/releases/tag/v2.1.3

[2017-01-12 12:21] iskrisis opened #190 "search URL parameters"
There are pull requests that state that senna works with url parameters.
I have site where search is at site.com/?s=searchterm the whole site has senna working very succesfuly with route
[code]
but search just does full redirects. I would think it would work.
Changing the url for example to site.com/search?s=searchterm does the same.

Should url params be working?

[2017-01-12 15:02] krisak opened #191 "Meta tags"
Senna automaticaly switches
[code]
but what about other meta tags like description and stuff like twitter cards etc?

I guess meta tags are for the crawlers which make single requests thats why its not needed right? Even if crawlers run js (google tries) they don't click they just make single request. So everything should be fine?

[2017-01-12 15:09] brunobasto commented on #190
Hello @krisak,

It should be working. We have some unit tests that do that, for example: https://github.com/brunobasto/senna.js/blob/master/test/app/App.js#L206

One thing that could happen is if, for some reason, it's falling into this catch: https://github.com/brunobasto/senna.js/blob/master/src/app/App.js#L653
And then it's not preventing the browser default navigation. thus reloading the page.

[2017-01-12 16:16] brunobasto commented on #191
You could go different ways about this if you want to update more things other than just the title. You can add your logic on

[code]

or you could create your own Screen that extends from HtmlScreen:

[code]

and route your paths through this screen: `app.addRoute(/.*/, MyScreen);`

[2017-01-12 16:17] brunobasto commented on #178
@fernandosouza, any updates on this?

Thx

[2017-01-12 16:22] brunobasto commented on #169
Not using babel helper on the docs anymore: https://github.com/liferay/sennajs.com/commit/5e4cc86288ae2b1f8971e24709cfbcd0b8cf959e

Thx

[2017-01-12 16:22] #169 closed

[2017-01-12 18:41] fernandosouza commented on #178
Yes, I have. The problem is that mentioned by Maira. This pull (https://github.com/liferay/senna.js/pull/189/commits/93466310fdc940e04f12ecc2f04fc9fada7b28ef) has fixed it by using JWT Travis addon (https://docs.travis-ci.com/user/sauce-connect/)

This issue can be closed.

[2017-01-12 18:52] fernandosouza commented on #191
Good point, @krisak. But I think that for the cases you mentioned Senna's behaviour isn't a problem. While a user navigates a site with Senna, and it wants to share that page, crawlers will request the needed information from the original page, not from that one asynchronously loaded from Senna. So, the right meta tags, if they were configured right, will be there.

[2017-01-12 18:56] krisak commented on #191
So maybe the question is - is there something in meta tags thats important for browser to be changed? Title sure, maybe some wierder stuff for accesibility? Or edge case like switching languages (that could mess up the encoding)?

If anyone has ideas about that please put them there i will investigate :))

Thx

[2017-01-12 19:20] fernandosouza commented on #191
For now, I can say the `dir` attribute of the `<html>` tag. If your project changes the language of the page content using Senna requests.

https://www.w3.org/International/questions/qa-html-dir

[2017-01-12 20:08] fernandosouza commented on #151
Any news for this Issue? @zenorocha @brunobasto.

[2017-01-12 20:25] fernandosouza commented on #170
Hey, @krisak. Could you explain how you are implementing those transitions?

[2017-01-12 21:59] brunobasto commented on #178
Thans, @fernandosouza!

[2017-01-12 21:59] #178 closed

[2017-01-13 08:51] jbalsas commented on #191
Hey @fernandosouza, attributes in the `<html>` tag are already properly handled. See
- https://github.com/liferay/senna.js/blob/master/src/screen/HtmlScreen.js#L53
- https://github.com/liferay/senna.js/blob/master/test/screen/HtmlScreen.js#L69-L76

[2017-01-13 12:29] krisak commented on #170
I am not actualy. I would have to dig into senna to add the throttle i think is needed.

I am using senna not for traditional SPAs but as sugar for normal presentation websites like this for example (https://designreader.org/).

Idealy there would be same time to transition everywhere (lets say 600ms) this is of course not possible but its OK when you make normal request.
[code]
The problem is whe

[2017-01-13 13:29] fernandosouza commented on #191
Awesome, @jbalsas. :)

[2017-01-13 13:50] fernandosouza commented on #170
In a nutshell, what you want is a way to delay the request and also delay the page content change even for cached pages. Right?

[2017-01-13 14:16] brunobasto commented on #170
@fernandosouza, I don't think he wants to delay the request. Just the transition from one screen to the next one.

[2017-01-13 14:17] krisak commented on #170
I dont know what you mean by delaing the request but yes delay the content change. Delay content change if the content change would too fast - faster than specified delay (it happens with cashed pages but can also happen if you want longer transitions and make very fast request).

Basicaly if somebody makes use of .senna-loading class like here https://github.com/liferay/senna.js/blob/master/build

[2017-01-13 14:39] krisak commented on #170
I dont have time to show what happens with the flip on this site where i use senna i try to go around it but there is this inconsistency like this still.

http://imgur.com/2fpQ0Wj

[2017-01-17 15:28] eduardolundgren commented on #190
@krisak Did you set `app.setIgnoreQueryStringFromRoutePath(true);`?

[2017-01-17 15:54] brunobasto commented on #190
@eduardolundgren,

Because he has his route matcher set to `/.*/`, all routes should be matched. See in this example, both tests passes: https://github.com/brunobasto/senna.js/commit/5f7171908a3307e768a40a1df9dbb03973ea1815

[2017-01-17 23:02] jbalsas opened #192 "document.write is not allowed in content"
### Expected behaviour

Navigating to a page that includes something with `document.write` in it should work

### Actual behaviour

Depending on how the `document.write` portion is added, two things may happen:
- Inline scripts: whole content will be replaced by the `document.write` content
- External scripts: `Failed to execute 'write' on 'Document': It isn't possible to write into a document fro

[2017-01-17 23:02] jbalsas commented on #192
Here's a library that might or might not help, just for reference: https://github.com/krux/postscribe

[2017-01-17 23:08] eduardolundgren commented on #192
The expected behavior for `document.write` is to insert HTML into that dom position when the dom is in `loading` state, if dom is already `loaded` it clears all document to insert the new content. I am not sure whether or not we should fix that here in senna.

[2017-01-17 23:10] jbalsas commented on #192
I opened this mostly because refreshing a page and navigating to it now renders different results.

This means at least that there's one case where you won't be able to simply add `senna.js` to your existing site and have it behave the same way.

[2017-01-17 23:35] eduardolundgren commented on #192
Yes, this case is when Senna won't work is when `document.write` is being used. Is that possible to use this https://github.com/krux/postscribe as a polyfil that the user can plug on their side? Senna navigation  lifecycle could enable and disable the polyfil.

[2017-01-17 23:36] jbalsas commented on #192
I did a quick test and couldn't get it to work, but I think we can do a more thorough research later to verify if this would be doable.

[2017-01-24 15:04] GusBeare opened #193 "How to handle response after form submit."
I know this is not the ideal place to post this but I can't find anything in the docs or examples and there are no forums.

I have built a simple demo  app using Nancy FX.

https://github.com/GusBeare/Nancy-Senna-SPA

It all works really nicely.  However, it seems that Senna can handle form submissions but I can't find any examples of how to do this.

From the docs:

**_"Everything starts when you

[2017-01-24 16:00] eduardolundgren commented on #193
Did you have a chance to look https://github.com/liferay/senna.js/tree/master/examples/form?

[2017-01-24 16:02] GusBeare commented on #193
ah, no, didn't find it. Thanks I'll check it out.

[2017-01-24 16:06] eduardolundgren commented on #193
@GusBeare this example is handling html responses, although can also fetch JSON instead, then use it to repaint a component setting its state. If you need a more advanced example how to use Senna inside a router library you can see how this is being done in https://github.com/metal/metal-router - this might be too low level for your case.

[2017-01-24 16:26] GusBeare commented on #193
thanks,

Yeah, these examples are using node.js which I don't know well.
 But I'll install it and have a play so I can understand it better.

If I can't get it to work I'll just turn off senna for the form and use jQuery forms.

cheers
Gus

[2017-01-24 18:08] eduardolundgren commented on #193
@GusBeare the node.js is just to handle the request properly it can be any server-side technology

[2017-01-24 18:25] fernandosouza opened #194 "Why does the build folder is not ignored by Git"
If the only reason is to let applications load `Senna` from this folder, I think including the `postinstall` npm script can support this feature and we can start ignoring the folder. The `postinstall` script is run automatically after each `npm install`

https://docs.npmjs.com/misc/scripts#examples

[2017-01-24 19:07] GusBeare commented on #193
thanks yes.  I can run the node.js version locally and it works fine and returns the data in the form as such:

    {"name":"Jane","email":"Doe"}

But I can't work out how the results `<div>`  is getting updated?

I see the node server code:

    app.post('/post', upload.array(), function(req, res, next) {
 	var content = '<div id="result1">';
	content += JSON.stringify(req.body, 5);
	content += '

[2017-01-24 19:17] zenorocha commented on #194
That was because of Bower :/

[2017-01-24 19:46] GusBeare commented on #193
I have it half working.  Am I correct in assuming that Senna is matching the result div from the server response and swapping it out with what it finds on the page?

This works server side:

    var msg = "<div id=\"result1\">Form successfully submitted at: " + DateTime.Today.ToString("yy-mm-dd") + " </div>";
    return Response.AsText(msg);

When I have this client side:

    <div id="result1" da

[2017-01-24 20:22] eduardolundgren commented on #193
@GusBeare If you are using `HtmlScreen` with surfaces you added by the id it will match the elements annotated as surfaces by the id, e.g. `<div id="surfaceIdYouGive" data-senna-surface>new content</div>` when the response from a navigation or form submission is HTML string it will grab the new content and update the dom with that.

[2017-01-24 23:00] GusBeare commented on #193
Thanks @eduardolundgren.  I have it mostly working.

However, I still have the issue that unless I go direct to the page with the form on it the post does not hit the back end. When I click one of the links to load the contactUs page from another page I have to refresh the page before the form submit will work.

The basic views are here:

https://github.com/GusBeare/Nancy-Senna-SPA/tree/master/Vie

[2017-01-25 00:36] brunobasto commented on #193
Hey @GusBeare,

I noticed the contactUs page is not a surface. Is that correct? https://github.com/GusBeare/Nancy-Senna-SPA/blob/master/Views/contactUs.cshtml#L18

[2017-01-25 09:02] GusBeare commented on #193
@brunobasto I've tried making the body a surface but when I do that the form submits but the page is re-loaded and the response message displayed on an empty page.

I noticed in the console that I am getting this when I submit the form after loading the contact us page:

Screen [screen_1] beforeDeactivate
senna-debug.js:7328 Navigate to [/contactUs]
senna-debug.js:7259 Already at destination, refr

[2017-01-25 14:26] GusBeare commented on #193
I got this to work. But only when I put `data-senna-off` in the link for the contact Us page which defeats the object.  I've tried just about everything I can think of. Am leaving it for now.

[2017-01-25 15:21] brunobasto commented on #193
Hey Gus, the reason you are getting the Already at destination message is
because you are submitting the form to the same URL as the ContactUs page.
What you can do is change the action of the form to be something like
action="/contactUsAction". And in the back-end, after you process the data
you can redirect the user either to "/contactUs" or to a "thank you" page.
Whatever you want. I don't know

[2017-01-25 20:34] GusBeare commented on #193
@brunobasto  thanks for the help.

Nancy is able to differentiate between, GET, POST, PUT, DELETE etc HTTP methods and match the appropriate route.  [See Defining Nancy Routes](https://github.com/NancyFx/Nancy/wiki/Defining-routes)

e.g. from  `IndexModule.cs`

     Get["/contactUs"] = parameters => View["contactUs"];
     Post["/contactUs"] = p =>{
                  var msg = "<div id=\"result1\"

[2017-01-25 23:06] brunobasto commented on #193
Hey Gus,

It matters for senna. It won't even make to request to the back-end because as far as senna knows, the screen you are navigating to is already cached.

If you could do something like:

`<form action="/contactUsAction"> ... </form>`

and on the backend you do:

`Response.Headers["Location"] = "/contactUs";`

Senna should make a request to '/contactUsAction' and then, once the back-end res

[2017-01-25 23:10] brunobasto commented on #193
@GusBeare,

Something like this, should do the trick to do the redirecting: https://github.com/NancyFx/Nancy/blob/master/src/Nancy/Responses/RedirectResponse.cs#L18

[2017-01-26 10:35] GusBeare commented on #193
@brunobasto many thanks for sticking with me. That fixed it!

   return Response.AsText(msg).WithHeader("Location", "/contactUs");

[2017-01-26 10:35] #193 closed

[2017-01-26 15:30] brunobasto commented on #193
You are welcome!

[2017-01-26 16:58] fernandosouza commented on #192
Hey @jbalsas, `postscribe` works. You can check it [here](http://demo.sennademo.wedeploy.io/).

[2017-01-26 17:08] fernandosouza commented on #192
Basically, it extracts from a given script parts that should be written into the document, in the case of the example I've made an `iframe`, and then, it append it inside a given `element`.

[code]

[2017-01-26 18:41] brunobasto commented on #194
@fernandosouza, I'm closing this one since we still support it and we don't have plans to drop support for it yet.

[2017-01-26 18:41] #194 closed

[2017-01-26 19:00] jbalsas commented on #192
Hey @fernandosouza, that's nice! I meant that I tried to integrate it inside `senna.js` and couldn't get it to work.

The biggest question would be, how should we integrate this?
- Write our own version of the algorithm and integrate it inside `senna.js`
- Use `postscribe` inside `senna.js`
- Provide `postscribe` it as some kind of external hook or plugin

[2017-01-26 19:29] fernandosouza commented on #192
I see, @jbalsas. It isn't an easy decision in my opinion. Does `Senna` intend to behave exactly the same as a Browser does on loading a page synchronously? If it does, we probably want to have this feature. We could start by solving this use case at least writing only the necessary code to solve it.

If `Senna` doesn't intend to behave like that we can have a note for the users in the documentatio

[2017-01-27 05:50] brunobasto commented on #191
Hey @krisak, were you able to come up with some meta tag that should be handled by senna? I think meta tags often depend on the application, so it would be up to the application to handle those - and that could be done using the strategies in https://github.com/liferay/senna.js/issues/191#issuecomment-272206866.

[2017-01-27 05:51] brunobasto commented on #190
Hey @krisak,

Is this issue still happening for you?

[2017-01-27 12:07] krisak commented on #191
I think it should be fine as it is. I was just curious.

[2017-01-27 12:12] krisak commented on #190
Yes but i did the ajax by hand to overcome this.

[2017-01-27 15:59] brunobasto commented on #191
Cool! Thx

[2017-01-27 15:59] #191 closed

[2017-01-27 16:00] brunobasto commented on #190
Hey @krisak, I'd like to investigate a bit more then. Can you provide a reproducible test case for this?

Thx

[2017-01-27 17:49] jbalsas commented on #192
To me, since we say you can simply drop `Senna` to any existing page, then I'd expect exactly the same behaviour. I'd rather have this built-in the library, but I can see how it can grow too much, so I'm open for discussion.

In case we don't introduce it, we should at least have a clear tutorial explaining how to integrate with `Senna` lifecycle to make it work using `postscribe` or similar.

[2017-02-06 23:10] eduardolundgren commented on #192
The need for post dom-loaded `document.write` is not very common use-case, some complex application may need it. Let's add a tutorial in the new Senna website, we can make very clear how to use it together with `postscribe` instead of adding it to the core of the library.

[2017-02-08 16:36] jbalsas commented on #192
Hey @eduardolundgren, I took a closer look at https://issues.liferay.com/browse/LPS-68414 and I agree this is more edge case than I originally assumed.

The biggest offender here is an [old StumbleUpon badge](http://www.stumbleupon.com/hostedbadge.php?s=5). The [new one](https://www.stumbleupon.com/dt/badges/create) seems to suffer from this as well, but might be circumvented via configuration.

I

[2017-02-08 16:42] fernandosouza commented on #192
Yes, I can @jbalsas. :)

This problem also happens with Slashdot service. But as you guys said, and I also agree, it's not a common use case, so a tutorial is sounds sufficient.

[2017-02-28 19:07] SpencerWoo opened #199 "POST request from form submission missing certain input types"
### Expected behaviour

There are various types, but specifically _input type="submit"_ should pass its name/values when it is triggering the post action as per https://www.w3.org/TR/html401/interact/forms.html#successful-controls.

### Actual behaviour

When submitting the form with the _input type="submit"_, the request does not have the input's values.

### Steps to reproduce

We'll modify an e

[2017-03-02 11:49] fernandosouza commented on #199
Hey, @SpencerWoo. Thx for reporting. We are going to take a look it. :)

[2017-03-02 14:17] brunobasto commented on #199
Hey @SpencerWoo, we are using HTML5 [FormData](https://xhr.spec.whatwg.org/#interface-formdata) to create the body of the request. I haven't tested it yet, but what you you describe suggests Chrome doesn't put the value of a submit button into the FormData. Gladly, the API allows us to add more values by calling `FormData.append()`.

Thx for reporting this.

[2017-03-02 14:26] brunobasto commented on #199
For Reference: https://github.com/liferay/senna.js/blob/master/src/screen/RequestScreen.js#L208

[2017-03-02 17:18] SpencerWoo commented on #199
Thanks all for looking at this.  As a note, I believe with a standard form (or when the form has "data-senna-off") the post request does contain the clicked submit button values.

Thanks again for all the responses!

[2017-03-06 19:03] brunobasto commented on #167
This issue is fixed by https://github.com/liferay/senna.js/pull/201

See unit test: https://github.com/brunobasto/senna.js/commit/06b33f147263e9bd227df0005ec1a035d9398e57#diff-22806533eb3bde8ad90863fe015e211dR106

[2017-03-06 19:05] brunobasto commented on #141
This issue is fixed by https://github.com/liferay/senna.js/pull/201

[2017-03-08 18:08] SpencerWoo commented on #199
Hi all,

Any updates on this issue?

[2017-03-08 18:16] brunobasto commented on #199
Hey @SpencerWoo, tackle this issue next. I'll let you know how it goes. Thx

[2017-03-08 19:39] brunobasto commented on #199
@SpencerWoo, here's an initial draft: https://github.com/liferay/senna.js/pull/202

[2017-03-08 19:44] brunobasto commented on #199
From the spec, I'm not sure if other kinds of buttons should go into the form data as well. Do you have any pointers on how the spec defines this behavior?

[2017-03-08 20:32] brunobasto commented on #199
Ok, so I think my PR is not accurate. The spec says:

So, I'll need to update my code.

[2017-03-08 20:38] SpencerWoo commented on #199
Awesome thanks @brunobasto -- yeah as mentioned about the submit button, but from what I can tell everything else works properly (sends data as it does without senna.js).  This LPS (https://issues.liferay.com/browse/LPS-69556) mentions button, but I haven't verified.

[2017-03-09 15:02] brunobasto commented on #199
Another piece of reference here: https://html.spec.whatwg.org/multipage/forms.html#constructing-the-form-data-set

[2017-03-09 15:10] brunobasto commented on #199
@SpencerWoo, do you happen to know what would be the expected behavior if an user submits the form using the enter key on a field inside the form? Would the value of the submit button go to the server as well? If there are more than one submit button, which one should go to the server?

[2017-03-09 17:13] SpencerWoo commented on #199
@brunobasto I found this link (http://stackoverflow.com/questions/925334/how-is-the-default-submit-button-on-an-html-form-determined) which is basically saying there's no defined spec for submitting a form with the enter key and the browser chooses which submit button is the default (the triggering one).  On chrome it appears to be the first submit button.

[2017-03-13 19:41] SpencerWoo commented on #199
From what I have tested that commit looks good!  Currently watching https://github.com/liferay/senna.js/pull/203.

[2017-03-13 19:47] jbalsas commented on #199
Hey @SpencerWoo, @brunobasto, I think this is actually properly explained in the [Forms HTML5 Spec](https://www.w3.org/TR/html5/forms.html#forms), specially in the [Implicit submission](https://www.w3.org/TR/html5/forms.html#implicit-submission) section.

[2017-03-13 20:16] brunobasto commented on #199
Awesome, then my fix proposal already accounts for that.

[2017-03-14 23:17] sintro commented on #170
So, there are 3 hooks, where something like promise pausing mechanism should be implemented already (i thought so): 'beforeNavigate','startNavigate', 'endNavigate'. Today I spent maybe about 1.5 hours to get that I can not pause page flipping. For example, to perform fade animation on pages. This wondered me.
Still no progress on this feature?

[2017-03-15 03:20] brunobasto commented on #170
hey @krisak, would something like that work?

[code]

Basically the idea is go over your surfaces and change the default [transitionFn](https://github.com/liferay/senna.js/blob/master/src/surface/Surface.js#L194) to whatever you want.

We should probably add an easier way to do this from within the app constructor / data attributes.

[2017-03-15 03:23] brunobasto commented on #170
@sintro, what do you mean by `promise pausing`? If you set a custom transition function to your surfaces, like in the example above, would that help?

[2017-03-15 04:20] sintro commented on #170
@brunobasto I mean the possibility for coder to delay the execution of beforeNavigate -> startNavigate -> endNavigate  by using some mechanisms like promises, for example. Can not tell exactly how the can be implemented, but I think this will be something similar to your sample here https://github.com/liferay/senna.js/issues/170#issuecomment-286629854

[2017-03-15 16:10] brunobasto commented on #170
@sintro, I see. Yeah, if you wan't to do transitions, I think the example posted is probably enough. If you want to pause beforeNavigate, startNavigate, etc for other reasons, then we can discuss what the use cases are.

[2017-03-15 16:45] sintro commented on #170
@brunobasto
Sure, I will think about it, may be will face this task in future, but for now I solved my problem, thanks to your advice.
The only problem is that it was not very beautiful code, as I had to just add timeout in transitions and perform all the effects in beforeNavigate and endNavigate hooks.

[2017-03-15 18:09] #199 closed

[2017-03-17 13:15] brunobasto commented on #147
@eduardolundgren Should we have an option to auto dispatch on the constructor or something?

[2017-03-18 12:32] wowselim opened #206 "examples are outdated"
### Expected behaviour

I thought that by running the examples in a webserver I could get an idea of how senna works.

### Actual behaviour

Several resources, including senna.js are not found and the examples look awful and don't work.

### Steps to reproduce

Run the examples.

### Browsers affected

unrelated to browsers.

[2017-03-18 12:39] brunobasto commented on #206
Did you run "gulp server"? It builds stuff needed for the examples to run.

[2017-03-19 13:28] wowselim commented on #206
This was my experience with README.md:

![image](https://cloud.githubusercontent.com/assets/5699586/24081222/f1be57ee-0caf-11e7-8573-34aa34eca627.png)

Apparently this doesn't work well with windows. I don't even understand why I have to run all these commands just to get some examples to work in my browser...

[2017-03-19 13:35] wowselim commented on #206
After installing bower with the -g flag (not specified in readme) I got following error:
![image](https://cloud.githubusercontent.com/assets/5699586/24081280/25d88a8a-0cb1-11e7-8622-8e01fea1d274.png)

Translation: `%1 is not a valid win32 application`

[2017-03-19 16:46] brunobasto commented on #206
Hey @wowselim, I just tested on my windows machine and all I had to do was:

1. Clone the repo
2. run "npm install"
3. start an http-server on the root folder

It's expected to work because we push the built files to github. So you don´t really need to build anything unless you want to change stuff. So, functionality wise, everything should work. Although we do depend on some bower dependencies fo

[2017-03-19 16:50] brunobasto commented on #206
Running gulp also works:

![gulp](http://imgur.com/download/w4KZrHY "Gulp")

[2017-03-19 18:01] wowselim commented on #206
@brunobasto Hey, indeed running npm install and starting a webserver was enough. I still cannot run gulp but if I don't need it I don't care :--)
Thanks for your help! I wish the readme contained these steps as well.

[2017-03-19 18:01] #206 closed

[2017-04-14 09:49] caneta opened #207 "Anchor links are dropped"
### Expected behaviour
On my local Liferay 7 DXP installation, I've created a web content with the following link
[code]
I expected that clicking on this link, it would lead me to my_other_page#my_anchor

### Actual behaviour
Instead I land to my_other_page: the anchor is dropped.

### Steps to reproduce
[Liferay Forum Thread about this issue with steps](https://web.liferay.com/it/community/forums

[2017-04-14 16:09] brunobasto commented on #207
Hey @caneta, this has already been fixed in the previous release of senna : https://github.com/liferay/senna.js/releases/tag/v2.1.4

[2017-04-18 21:01] caneta commented on #207
Thank you @brunobasto!
Upgrading my Liferay 7 DXP to Fix Pack 13, which includes senna.js 2.1.4 ([LPS-71199](https://issues.liferay.com/browse/LPS-71199)), solved the issue.

[2017-04-18 21:01] #207 closed

[2017-04-27 16:50] zenorocha commented on #151
One way to reproduce this problem is by having a link that points to another page and on that page you have a redirect:

`a.html`

[code]

`b.html`

[code]

Senna should be able to know that `b.html` was actually a redirect and then load `c.html`.

[2017-04-27 19:20] brunobasto commented on #151
Got it. Thanks, @zenorocha.

[2017-05-09 19:11] brunobasto opened #211 "Senna doesn't respect link target attribute"
### Expected behaviour

When clicking on a link with target="_blank", it's expected that the link will open on a new tab.

### Actual behavior

Senna ignores the attribute and navigates to the link on the same tab.

### Steps to reproduce

1. Add a link where the href attribute is routed by senna.
1. Add a target="_blank" to that link.
2. Click on that link

### Browsers affected

All major browse

[2017-05-09 20:38] zenorocha commented on #211
+1, we had this bug this morning, had to add `data-senna-off` to workaround.

[2017-05-15 18:22] brunobasto commented on #211
@fernandosouza,  can you are a looks at this when you have some time? It's should be enough to change this line https://github.com/liferay/senna.js/blob/master/src/app/App.js#L101 to not track links with the target attribute set.

[2017-05-15 18:59] bryceosterhaus opened #212 "window.onbeforeunload not warning when navigating or on popstate"
### Expected behaviour

Adding `window.onbeforeunload = () => 'test';` on a page would allow for default browser behavior of warning the user when they reload or navigate away from the page.

### Actual behaviour

Adding the `onbeforeunload` only warns when refreshing the page, not navigating to a new page on on popstate

### Steps to reproduce

1. Run email example from repo
2. Add this snippet t

[2017-05-16 01:31] eduardolundgren commented on #212
Sounds like a valid issue. Any idea how to handle `onbeforeunload` on SPA apps?

[2017-05-16 11:56] fernandosouza commented on #211
Sure, @brunobasto. I'm going to take a look.

[2017-05-16 15:12] bryceosterhaus commented on #212
Not entirely sure. But I know when we used senna v0.4, it worked as expected for us.

[2017-05-17 18:02] fernandosouza commented on #212
I'm investigating that. But it seems just dispatch an event named `beforeunload` with the expected event object.

The MDN says: `The beforeunload event is fired when the window, the document and its resources are about to be unloaded. The document is still visible and the event is still cancelable at this point.`

[2017-05-17 20:43] fernandosouza commented on #212
Hey, @bryceosterhaus. Thank you for heads us up about it. Could you explain how it was implemented? I have Senna v0.4.0 but I couldn't make it work as you said. I did this way:

1. I've opened the email example
2. I've run the snippet you sent in the console
3. I've navigated to several web pages
4. I've hit the back button.

[2017-05-17 20:54] bryceosterhaus commented on #212
Hey @fernandosouza, I'm not totally sure why it worked for us before. I dont think we did anything in particular. All we added was something along the lines of

[code]

There could have potentially been a bug in our code that made it work on v0.4. Its likely that it might have never worked out of the box with senna.

[2017-05-17 21:05] jbalsas commented on #212
For that specific case, we could manually run the method before start
navigating...
El El mié, 17 may 2017 a las 22:54, Bryce Osterhaus <
notifications@github.com> escribió:

[2017-05-17 22:04] fernandosouza commented on #212
Hey, @bryceosterhaus. For me don't make sense this code work with Senna.

The `onbeforeunload` specification says:

From what I know, the way Senna works it never unload the document.

What we can do is to call `window.onbeforeunload` as Chema said for this case.

[2017-05-17 22:43] bryceosterhaus commented on #212
Hmm. Maybe what we need to do is add an api that would allow the ability to alert when changing the page. We would need to handle for back/fwd, refresh, and navigate.

For our case specifically, it is for warning people if they have unsaved content. When not using senna, you would use `window.onbeforeunload` which is why we used that before.

[2017-05-17 23:02] brunobasto commented on #212
onbeforeunload would handle the refresh case, for  the rest, beforeNavigate should do the trick. If everyone agrees it's something that make sense to be added to senna, we could encapsulate that.

[2017-05-18 06:42] ssmith353 commented on #212
+1 on this issue, we have a similar use case as Bryce, and are using beforeNavigate to check if there are unsaved changes. But if we would like to use something like window.onbeforeunload to account for these use cases:

1. Reload the page.
2. Navigate away via clicking another URL
3. Click "Close tab"
4. Manually enter another URL into the nav bar

None of these are caught by the beforeNavigate e

[2017-05-18 09:16] ipeychev commented on #212
I would say it could be done like this:

1. Before to navigate to another page, Senna checks if there is a function, attached to this event and executes it.
2. It checks the returned result and if false - stops navigating.
3. Since `beforeunload ` can be added via `window.addEventListener` too, we will have to monkey patching `addEventListener` (and `removeEventListener`) to cover this case too.

[2017-05-18 12:48] caneta opened #214 "Liferay environment: how to get current senna version?"
Hello everyone!
I have a simple question: having a Liferay 7 environment up and run, is there a way to get the **version** of senna used by the portal?
Maybe with some function call in the JavaScript console of the browser, or looking inside the OSGi module that contains the library?
Thank you

[2017-05-19 02:07] ssmith353 commented on #214
hey @caneta ,
You should be able to access senna via the Liferay object.

In the javascript console try to access senna via:

`Liferay.SPA.app`

[2017-05-19 06:54] caneta commented on #214
Ok, I know that, but I want to get senna **version**.
Something like jQuery, if possible:
[code]
Otherwise tell me where to look inside the portal to get that string.

[2017-05-19 07:18] jbalsas commented on #214
Hey @caneta, I don't think we have a runtime way to get it right now... the closest way is the [`frontend-js-spa-web/package.json`](https://github.com/liferay/liferay-portal/blob/master/modules/apps/foundation/frontend-js/frontend-js-spa-web/package.json#L6) where we specify the version of `Senna.js` that will get bundled.

[2017-05-19 10:46] caneta commented on #214
Hi @jbalsas, my problem is that I have a Liferay 7 CE GA3 without sources.
So I'm going to my Liferay Workspace and then _bundles/osgi/marketplace/_, I decompress **Liferay CE Foundation.lpkg**, I get **com.liferay.frontend.js.web-1.0.10.jar**, decompress it too and the **package.json** included in it is the following:
[code]
Probably this is not the correct place to look for...Have I to download

[2017-05-19 11:28] jbalsas commented on #214
Mmm... in GA3 that info might be in the `build.gradle` file, as a `sennaVersion`?

In any case, we can try to do something similar to what we did in [`liferay-loader-amd`](https://github.com/liferay/liferay-amd-loader/issues/109) as well...

[2017-05-19 12:31] caneta commented on #214
Yes, @jbalsas you're right: in sources of GA3, inside _modules/apps/foundation/frontend-js/frontend-js-spa-web/build.gradle_, we have `String sennaVersion = "1.2.0"`.

A feature like [the one for the AMD loader](https://github.com/liferay/liferay-amd-loader/issues/109) would be great!

In my opinion such a feature is fundamental for every frontend tool, not only for the _AMD loader_ or _senna.js_

[2017-05-23 12:24] jbalsas opened #216 "Flaky Test 'App should wait for pendingNavigate before removing screen on double back navigation'"
There's currently a flaky test in the senna suite:

[code]

See this [Travis Report](https://travis-ci.org/liferay/senna.js/builds/235203989#L3316)

[2017-05-23 12:38] brunobasto commented on #216
@fernandosouza, this is the test with the setTimeout for handling the Safari debounced history.back. Can you double check?

Thx

[2017-05-23 13:54] fernandosouza commented on #216
Yeah, @brunobasto. That is it.

[2017-06-14 20:29] brunobasto commented on #211
Hey @fernandosouza, what's the status on this one?

[2017-06-14 20:31] eduardolundgren commented on #211
LGTM

[2017-06-14 20:33] fernandosouza commented on #211
Hey, @brunobasto. I'll check if I missed anything and I'm going to send a PR.

[2017-06-20 13:54] #211 closed

[2017-07-06 09:38] jbalsas commented on #216
Hey @fernandosouza, any update on this?

[2017-07-06 09:39] jbalsas commented on #192
Hey @fernandosouza, can you work with @blzaugg to write a small tutorial about this so we can close it?

[2017-07-06 14:58] fernandosouza commented on #192
Sure, @jbalsas.

[2017-07-06 19:17] blzaugg commented on #192
@fernandosouza, either send me a Google doc, or send a PR to the `liferay/sennajs.com` repo, on the `electric` branch. I'll review it while I finish the project site migration.

[2017-07-07 11:33] jbalsas commented on #158
Hey, we actually merged in the rollup build a while ago and we haven't really noticed a significant decrease in size. We are currently at the numbers this post started (we gained a bit of weight for a while).

I tested with Webpack3 as well, and the numbers didn't differ a lot, so we'll need to take a closer look at where the extra bits are coming from...

[2017-07-07 11:35] jbalsas commented on #167
I'm closing this based on the comments on #201. @brunobasto, can you please double check?

[2017-07-07 11:35] #167 closed

[2017-07-07 11:52] dacousalr opened #221 "Anchor link offset are not calculated correctly"
### Expected behaviour

Clicking in anchor links under a Liferay environment should set the scroll to the correponding element.

### Actual behaviour

Clicking in anchor links under a Liferay environment set the scroll without calculating the offset of the ancestor elements.

### Steps to reproduce

To test this in a Liferay enviroment [LPS-43629](https://issues.liferay.com/browse/LPS-43629) shoul

[2017-07-14 20:34] brunobasto commented on #221
Hey @dacousalr, I've sent you a pull request updating senna.js in portal to the version containing the fix: https://github.com/dacousalr/liferay-portal/pull/9

Thx

[2017-07-17 08:59] dacousalr commented on #221
Thank you so much, @brunobasto

[2017-07-19 10:51] vbence86 commented on #212
Having spent a good deal of time understanding the Event API and the related bits to BeforeUnloadEvent, I've come to the conclusion is that the real challenge would rather be to programmatically emit the ```BeforeUnloadEvent``` and make the browser to display the Confirm modal. BeforeUnloadEvent constructor cannot be called and ```initEvent```API is deprecated for ages. Even if we ported the event

[2017-07-19 11:15] brunobasto commented on #212
Hey @vbence86, that you very much for taking the time to look into this and share your findings. I agree with you that this is not straightforward nor a widespread approach either. I try to avoid patching native methods as much as possible. In this case, though, it might be necessary.

[2017-07-20 07:44] vbence86 commented on #212
@brunobasto I'm currently working on a possible solution that demonstrate one way of getting around this issue. I'll post my Pull Request in due course that will serve as a base to kick around the idea.

[2017-07-25 10:02] vbence86 opened #223 "Cannot redirect to a URL of different domain while SPA is enabled"
## Steps to Reproduce

### Create test bundles
Set up two server instances  to be run at the same time
In the **first instance (8080)**, create a regular page named page1
In the **second instance (8081)**, create a Link to URL page named page1 that links to http://localhost:8080/examples/amd/page1.html

### Configure a local proxy that redirects the client to the **first bundle** when requesting t

[2017-07-26 07:35] caneta commented on #221
Hi all, same problem here working with a Liferay 7 DXP fixpack-25.
In which way should I fix this issue in a production environment? Any suggestions?

[2017-08-18 10:46] bojanvidanovic opened #227 "Possibility to avoid appending <div> child to a surface element."
### Expected behaviour

Once specified the surface element, SennaJS should not append a child div, and should operate directly and only on specified surface element without appending any child elements.

### Actual behaviour

Once specified the surface element, SennaJS will append a child div:

    <div id="main-default" class="flipped" style="display: block;">

The problem with this solution is t

[2017-08-19 01:05] brunobasto commented on #223
Hey @vbence86,

Can you confirm that this was fixed by: https://github.com/liferay/senna.js/releases/tag/v2.4.2?

This should also fix https://github.com/liferay/senna.js/issues/120, right?

[2017-08-19 01:06] #141 closed

[2017-08-19 01:12] brunobasto commented on #212
@vbence86, can you confirm that this issue is fixed by https://github.com/liferay/senna.js/pull/222?

[2017-08-19 01:14] brunobasto commented on #221
Fixed by https://github.com/liferay/senna.js/pull/220

[2017-08-19 01:14] #221 closed

[2017-08-19 01:16] brunobasto commented on #221
@caneta, you should have it fixed if you apply [this fixpack](https://issues.liferay.com/browse/LPS-61883?jql=labels%20%3D%20liferay-fixpack-portal-85-6210)

[2017-08-19 01:19] brunobasto commented on #227
Hey @bojanvidanovic,

A agree that the way it is right now is not ideal, but I'll tag this one as an improvement since it has been like that since day one.

[2017-08-20 08:57] vbence86 commented on #223
Hi @brunobasto,

Yes, I can confirm that this fix has been tested and fixes the above along with #120.

Thanks,
Bence

[2017-08-20 09:01] brunobasto commented on #223
Awesome! Thanks

[2017-08-20 09:01] #223 closed

[2017-08-20 09:02] brunobasto commented on #120
Fixed by #223

[2017-08-20 09:02] #120 closed

[2017-08-21 07:58] vbence86 commented on #212
@brunobasto Yes, this has been fixed by #222. @bryceosterhaus if you want to check it please go ahead and use the most recent master.

[2017-08-21 12:47] caneta commented on #221
Thank you @brunobasto: in the link there is a fixpack for Liferay 6.2 but I need it for a Liferay 7 DXP. Is it available yet?

[2017-08-21 13:59] dacousalr commented on #221
Hi @caneta, the solution for Liferay 7 DXP is not available yet but it will be soon.

[2017-08-21 19:03] brunobasto commented on #212
Awesome! Thanks, @vbence86. I"m closing it for now. We can reopen if @bryceosterhaus find any issues if the current fix.

[2017-08-21 19:03] #212 closed

[2017-08-25 22:05] SpencerWoo opened #228 "Broken Favicon with IE11"
### Expected behaviour

The favicon in the browser tab uses the senna.js favicon instead of the IE default favicon.

### Actual behaviour

The favicon in the browser tab uses the IE default favicon until refresh.

### Steps to reproduce

1. Start senna.js server and open the turbolinks example (localhost:8888/examples/turbolinks/) in IE 11.
2. Clear browser cache.
3. Click "Index" hyperlink (turbo

[2017-08-30 11:04] caneta commented on #221
I see that fixpack de-29 for Liferay 7 DXP is out, but I cannot find in its [releases notes](https://issues.liferay.com/issues/?jql=labels%20%3D%20liferay-fixpack-de-29-7010&_ga=2.66092524.319413082.1503922734-199699759.1448900023) if it solves this issue.
The Liferay Issue ID should be [LPS-71809](https://issues.liferay.com/browse/LPS-71809?_ga=2.75389776.319413082.1503922734-199699759.1448900023

[2017-09-07 01:43] brunobasto commented on #228
Hey @SpencerWoo, I'm still looking into it and haven't got to any conclusions yet, but I did find it to be a [known issue](https://connect.microsoft.com/IE/feedback/details/1008701/when-doing-a-history-pushstate-internet-explorer-doesnt-account-for-the-base-tag-for-the-favicon) that Microsoft closed as won't fix. Also see: https://connect.microsoft.com/IE/feedback/details/1443745/favicon-disappear

[2017-09-11 06:28] alfonsocrisci commented on #221
The fix has been released in the "de-30-7010" DXP fix pack.

[2017-09-29 19:52] brunobasto commented on #228
I'm closing this as I don't think there's much we can do on the framework level.

[2017-09-29 19:52] #228 closed

[2017-10-03 08:54] caneta opened #229 "Anchor scroll after page loaded for the first time"
On a Liferay 7 DXP fixpack 31, I have the following problem:
on my website I have an header with position fixed of 200px and when I cut and paste an url like **http://mywebsite.com#myanchor** I get that the anchor is displayed at the top of the page but uder the header.
I would like to scroll it down 200px, in order to see properly the anchor, but I'm not able to catch an event in order to do that

[2017-10-04 10:40] caneta commented on #229
Probably I would like to have an event like already described on issue #140

[2017-10-09 14:39] matuzalemsteles commented on #229
Hey @caneta,

Sorry for the delay, can you see if the `endNavigate` event is called? passing some `console.log` to check. Thanks!

[2017-10-09 14:52] caneta commented on #229
No, the `endNavigate` event is not fired at page load, this is the problem depicted in #140 too.

[2017-11-19 21:13] #158 closed

[2017-11-19 21:13] #151 closed

[2017-11-24 09:19] izanf opened #230 "Uncaught TypeError: _senna2.default.App is not a constructor"
Hello,

I'm try use sennaJS in personal project, however when instance `var app = new senna.App();` get this error:

someone can help me?

[2017-11-24 11:23] brunobasto commented on #230
Hey @izanf, how are you including Senna on your page?

[2017-11-29 03:21] #230 closed

[2017-12-01 07:18] nicolas-raoul opened #231 "Examples are 404"
https://github.com/liferay/senna.js#examples
These examples are also featured prominently at https://sennajs.com

https://sennajs.com/examples/static.html is 404
The other don't work much better.

It would be great to have working examples to see. Thanks!

[2017-12-04 20:37] diegonvs commented on #214
#232 :)

[2017-12-07 11:44] anoopd opened #234 "Bundle using Webpack ."
I was trying to bundle senna with webpack and when i try to initialize it is showing error

`Uncaught TypeError: _senna2.default.App is not a constructor
    at Object.defineProperty.value (app.js:15)
    at __webpack_require__ (bootstrap fb4f791f5a0ac65d2f0b:19)
    at Object.<anonymous> (bundle.js:9515)
    at __webpack_require__ (bootstrap fb4f791f5a0ac65d2f0b:19)
    at module.exports.ctor.sup

[2017-12-07 19:31] Robert-Frampton opened #235 "Allow beforeDeactivate to return promise, and create similar lifecycle method for before activation"
Currently the `beforeDeactivate` lifecycle method of `Screen` can only return a boolean. It should be able to return a promise as well.

In addition to this improvement, we should add a `beforeActivation` lifecycle method to `Screen`. This will behave very similarly, but simply before that screen is navigated to.

The argument for these additions can be found at https://github.com/metal/metal-rout

[2017-12-12 19:32] brunobasto commented on #234
Hey @anoopd,

If you take a look at our main file, [senna.js](https://github.com/liferay/senna.js/blob/master/src/senna.js#L11) , we export the `App` class by default. So, I imagine you meant to import it like this:

[code]

[2017-12-12 19:33] brunobasto commented on #231
Hey @zenorocha, can you check sennajs.com to see what's going on?

[2017-12-13 16:51] jbalsas opened #238 "document.referrer is not updated on navigation"
### Expected behaviour

In a normal scenario, when navigating through pages, [`document.referrer`](https://developer.mozilla.org/en-US/docs/Web/API/Document/referrer) gets updated with the URI of the page that linked to the page.

When navigating in a Senna-enabled site, I would expect `document.referrer` would honor that contract.

This behaviour is specially important when gathering analytics, a

[2017-12-28 14:12] #238 closed

[2017-12-28 14:37] brunobasto opened #247 "TODO: Remove workaround to prevent DOM Exception 18 during unit tests execution on Safari"
Right now we have a [workaround](https://github.com/liferay/senna.js/pull/246/commits/303397bd24a06c3d7e3d1234fd7f99cfaee408e1) on our unit tests to prevent DOM Exception 18 on Safari. More informations about why they introduced this limitation [here](https://bugs.webkit.org/show_bug.cgi?id=156115). With that workaround, the tests on travis became stable again.

The solution is pretty ugly, as it

[2018-01-24 08:43] caneta opened #249 "Customize loading bar color in Liferay DXP fixpack 36"
I would like to customize background color of senna loading bar inside a Liferay DXP fixpack 36 portal.

Looking at it's [css here](https://github.com/liferay/senna.js/blob/master/src/senna.css), I guessed to get it setting inside my custom theme main.css file the following:
[code]
But this does not work...I cannot even find the senna.css file loaded inside my pages, searching for it with develope

[2018-01-24 17:24] diegonvs commented on #249
Hey @caneta , probably you are overwriting incorrect class.
![screen shot 2018-01-24 at 14 07 02](https://user-images.githubusercontent.com/7663513/35346021-e207e036-010f-11e8-9933-997fef7e5706.png)
Did you try use `Liferay.spa.app.setLoadingCssClass()`?

[2018-01-24 18:01] diegonvs commented on #249
Can you try to overwrite this css class in the theme?

![screen shot 2018-01-24 at 14 58 19](https://user-images.githubusercontent.com/7663513/35348562-279970b8-0117-11e8-96c8-bd80c537ffd3.png)

[2018-01-25 13:49] caneta commented on #249
Overwriting that class did the trick,  thank you @diegonvs!
I've written the following inside my _my-theme/src/css/)custom.scss_:
[code]

[2018-01-25 13:49] #249 closed

[2018-02-07 09:12] salvatejero opened #250 "Accesibility error on iframe"
### Expected behaviour

Pass accessibility plan successfully

### Actual behaviour

Not pass.

### Browsers affected

Koa11y App finds a accesibility problem with Senna.js

Koa11y App finds a accesibility problem with Senna.js

During the page load, a iframe appears.

Please, add a title attribute to this iframe.

senna.js/build/globals/senna.js Line 779.

Regards

[2018-02-07 13:41] matuzalemsteles commented on #250
hey @salvatejero, Thanks for the report!

Just to inform you, senna.js uses the `metal` package and the `async.nextTick` utility to implement the iframe in some use cases like yours.

[2018-02-23 01:24] stiemannkj1 opened #253 "Explicitly don't track elements with data-senna-track="false""
Due to a certain use case in Liferay Portal, I was required to add `data-senna-track="false"` to an element to avoid tracking it. This currently works correctly, however, it feels like I'm relying on undefined behavior. Could it be made explicit in the code and/or the documentation that `false` is a valid value for `data-senna-track` and that resources with `data-senna-track="false"` will be ignor

[2018-02-23 01:27] stiemannkj1 commented on #253
`'script[data-senna-track]:not([data-senna-track="false"]` might work as a selector, although I'm not sure if it's compatible with all browsers.

[2018-03-12 21:26] jbalsas opened #254 "Different ports are considered same origin"
### Expected behaviour

I expected that, from a `localhost:8080/foo` location, clicking on a link for `localhost:9080/bar` (different port) would be detected as an external navigation and cause a full refresh

### Actual behaviour

Instead of refreshing the page and navigating to the full url, the basepath and port are kept and senna tries to navigate via ajax to `localhost:8080/bar` (wrong port).

[2018-03-19 15:42] diegonvs commented on #254
/cc @jbalsas Any updates on this? I'm available to help with this.

[2018-03-19 17:24] jbalsas commented on #254
Hey @diegonvs, go for it!

If you could take a look at https://github.com/liferay/senna.js/pull/251 too it would be really helpful!

[2018-03-19 22:02] jbalsas commented on #254
We might just need to use `location.host` rather than `location.hostname`

[2018-03-21 00:46] ke5stl opened #255 "examples on the home page don't seem to work?"
ok, so, reading the content on sennajs.com, it looked kind of interesting.

so, on to the samples, to see how it looks.

wham!

all 3 of the samples have issues.  the gallery one even comes up with a 404 error.

it certainly does not help the sennajs solution 'shine'.

any chance of getting them fixed?

by the way: I used both the latest chrome and firefox browsers.

[2018-03-23 17:19] diegonvs commented on #254
#256

[2018-04-02 01:48] cleydyr commented on #255
Hey, @jbalsas. I can confirm the examples on the site are not working as for now. Is there any update about this?

Thanks!

[2018-04-02 16:02] brunobasto commented on #255
Thanks for reporting @ke5stl and for confirming @cleydyr. I'm looking into it. Some how some of our resources are returning 404.

[2018-04-06 16:45] diegonvs commented on #255
Fixed at https://github.com/liferay/sennajs.com/pull/59

[2018-06-20 10:33] antonio-ortega opened #262 "Cancel navigation duplicates surfaces"
### Expected behaviour

Surfaces are not duplicated if I cancelled navigation.

### Actual behaviour

Surfaces are duplicated when cancelling navigation leading to problems like duplicated id, etc.

### Steps to reproduce

1. Create an app with two pages (PageA and PageB) in a such a way that you navigate between them using senna.js
2. Being on PageA, click on link to navigate to PageB.
3. Quickly

[2018-07-20 09:43] ducthai93 commented on #199
**Nothing**### [my](url)

[2018-07-31 22:55] cleydyr commented on #262
Hey, guys. This fix is a dependency of a bug for Liferay Portal, so I'd like to give a heads up here, since a couple of weeks ago was the last commit referencing this issue. Is there any update?

Regards!

[2018-08-01 07:27] jbalsas commented on #262
Hey @cleydyr, thanks for reaching out. We're aware of this. You can follow the progress on [this PR](https://github.com/liferay/senna.js/pull/266).

We aren't sure if this change introduces a regression that might affect analytics. Since we think this component is more important than the mentioned bug (which is low priority), we don't want to risk it without being 100% sure. @brunobasto will take

[2018-08-01 13:46] cleydyr commented on #262
Thanks for providing the related PR so that I can subscribe to it. I understand the issue with the different priorities and how Analytics affects the resolution of the original bug affecting Liferay Portal.

Regards!

[2018-08-02 19:24] diegonvs opened #268 "Style tags with permanent track will duplicate a lot"
### Expected behaviour

When i set a `<style>` tag into <head>, tracking it with `data-senna-track="permanent"` i don't want that stylesheet duplicates when i navigate into the same page.

### Steps to reproduce

1. Set trackable resources of a page with a `<link>` and a `<style>` tag with any Stylesheet that you think.
2. Navigate using SPA into the same page
3. When you inspect the page you will

[2018-08-03 18:59] diegonvs commented on #268
We need set a resourceKey(a `id`, `href` or a `src` attribute) for any permanent resources to not reproduce this.

[2018-08-21 15:28] #262 closed

[2018-08-29 15:22] matuzalemsteles opened #272 "Remove the console.log when publishing"
### Expected behaviour

No logs should appear in the console when you are using senna in production.

### Actual behaviour

Currently there are logs appearing on the console when you are using senna.

### Steps to reproduce

Use Senna as a dependency and navigate anywhere with it.

[2018-08-29 15:35] jbalsas commented on #272
Hey @matuzalemsteles, I think this is twofold... on one side, we should be generating the proper distribution files, but afaict, we're also using straight from sources in Liferay Portal, so we should do something slightly different there, shouldn't we?

[2018-08-29 15:52] matuzalemsteles commented on #272
hey @jbalsas, In Liferay Portal 7.0.x, we build the senna with gradle, collecting the `node_modules/senna/build/amd/senna/` files would be more complicated to do there, but in 7.1 we use `liferay-npm-bundler` to get the dependencies, so it picks up from `lib`.

I put some comments in the PR.

[2018-08-29 15:58] jbalsas commented on #272
👍

[2018-08-29 15:59] #272 closed

[2018-08-29 16:33] #254 closed

[2018-08-30 13:32] interaminense opened #274 "Senna doesn't navigate correctly using a <a /> tag inside a <svg /> tag"
### Expected behaviour

There is a `<a />` tag inside SVG and I hope that when I click the link, Senna can load the page in SPA.

### Actual behaviour

Clicking on the link displays a javascript error in the console:
<img width="490" alt="screen shot 2018-08-29 at 19 28 31" src="https://user-images.githubusercontent.com/12699849/44819110-fb6c0b80-abc1-11e8-943d-885fd34de074.png">

This happens bec

[2018-09-19 16:49] diegonvs opened #280 "Refactor senna.js code to new Ecmascript standards"
Would be good if our code base is suitable for new patterns such as let, const, var, new object types such as Map. :)

[2018-09-19 16:59] diegonvs opened #281 "On IE11, a data provider send twice in IE11 when load content"
See attached screenshot:
![image](https://user-images.githubusercontent.com/7663513/45768751-2b805a80-bc14-11e8-9c50-07759572c554.png)

[2018-09-20 09:03] #281 closed

[2018-10-08 22:08] diegonvs opened #284 "Version constant isn't available when loading by babel"
If you try import `senna` module and use exported version constant.
Like this:

`import version from 'senna';`

The value of version is: `'<%= version %>'`.

[2018-10-16 10:04] #284 closed

[2018-10-31 19:53] matuzalemsteles opened #285 "Senna does not correctly evaluate favicon when page changes"
When there is a favicon on different pages Senna does not evaluate correctly when it is with `data-senna-track="temporary"`.

### Expected behaviour

Must be able to change the favicon.

### Actual behaviour

It does not change the favicon and does not add the new element to the page when a navigation occurs.

[2018-11-09 12:10] Aurugorn opened #287 "Turn Cache on Screens off"
Is there an easy way to turn cache off on screens? My pages are based on database values. So my pages need to be up to date all the time. Now it reads the cached page which is the old version.
Not sure if there is another way to do this. Can't find anything on Google.
Thanks in advance!
PS. LOVE Senna so far! Awesome script!

[2018-11-09 17:57] diegonvs commented on #287
Hello Stan! Thanks for collaborating filling this issue :)

How are you using `senna` App? You are extending `senna` App?

[2018-11-09 20:20] Aurugorn commented on #287
Thanks for the quick response!
Currently using it with turbolinks. Just adding senna-surface etc. as tags. It is working perfectly! But my pages must be up to date always (for example I have a page with a schedule that can be updated any time).
Thanks in advance for helping!

[2018-11-09 21:08] #285 closed

[2018-11-09 22:59] WHI-CH opened #288 "endNavigate when instantiated via data attributes"
When Senna is instantiated via the data attributes, how does one access the Senna object normally available when it is created with "var app = new senna.App()"?
This info would be a good addition to the docs ;)

[2018-11-15 21:13] gregory-bretall opened #290 "Senna.js not working when navigating between pages when using a Web Server + SSL on IE11"
### Expected behaviour

Senna.js works as expected when using a web server + SSL on IE11

### Actual behaviour

Senna.js does not work

### Steps to reproduce

1. Download the SSL Web Server vm here: https://ftp.liferay.com/LBv2.zip
2. Extract and open the vm, edit the following file to use your host machine IP:
C:\Apache24\conf\liferay\liferay-ssl-lb.conf
[code]
3. Restart/start Apache by going t

[2018-11-15 21:16] gregory-bretall commented on #290
PR for this issue is found here https://github.com/liferay/senna.js/pull/291

[2018-11-27 15:51] duracell80 opened #294 "Browser support matrix doesn't mention support for any browser other than Edge in Windows 10"
![outofdate](https://user-images.githubusercontent.com/18121278/49093550-f4d54a80-f229-11e8-9cc7-c86e611f4fab.JPG)

[2018-11-27 15:52] jbalsas commented on #294
hey @duracell80, isn't `Edge` running on `Win10`? Are you looking to get other browsers there as well? If so, which ones?

[2018-11-27 16:03] duracell80 commented on #294
Enterprises most likely won't be using Edge in Windows 10 because many web apps aren't compatible, Edge in general has an adoption issue that Microsoft have acknowledged. So enterprise will be using IE11 on Win10.

The issue I see is there is no support for Windows 10 browsers period?

Even worse, by this chart, Chrome which is evergreen is not supported at 70 on Windows 7?

[2018-11-27 16:09] jbalsas commented on #294
Hey @duracell80, please don't read things into it or make assumptions.

Windows 10 browsers are supported. Just the test matrix we run on Saucelabs is not going through them. Browsers and OSs keep changing and updating. We'll update the test matrix accordingly.

Chrome 70 on Windows7 failure is likely a fluke, but we'll investigate. Again, that doesn't mean it's not supported.

/cc @matuzalemstele

[2018-11-27 16:10] jbalsas commented on #294
Seeing the header on top of the browser test result, I guess that's where the confusion is coming from. @matuzalemsteles, @brunobasto, maybe we can find a better way to present that? What are others doing?

[2018-11-27 16:12] duracell80 commented on #294
Just taking it as factual at face value, Windows 7 users are straight out of luck unless using Firefox and Windows 10 isn't even in the picture.

[2018-11-27 16:35] duracell80 commented on #294
Just raising the concern that automated testing in Windows 10 is almost non-existent?

[2018-11-27 17:12] jbalsas commented on #294
Yeah, we'll update the automated test matrix. Do you think we need to keep Windows7, or we can simply move into Windows10?

[2018-11-27 17:12] matuzalemsteles commented on #294
I would not make so much assumption based on the operating system, the important here are the versions of browsers, they should operate the same on any operating system once they follow a specification. So from this image we just want to demonstrate that we are supporting the versions of each browser.

Chrome failing in Win 7 because it is an old test it is not running the latest changes...

hey @

[2018-11-27 17:58] duracell80 commented on #294
Deprecated in what sense? The vendor has end of life on this browser at 2025 fro Enterprise (all while the browser fails to keep up with technology). IE11 will behave slightly different between Windows 7, 8.1 and 10. But really the issue is that there's a lack of Windows 10 in these tests for browsers other than Edge.

Edge is failing to get adopted also.

[2018-11-27 18:17] matuzalemsteles commented on #294
Deprecated was a bit strong, sorry for that, but what I meant is not to receive more evolutions, such as support [ES6](http://kangax.github.io/compat-table/es6/)... for example. [Only being maintained for security issues and compatibility fix](https://www.microsoft.com/en-us/WindowsForBusiness/End-of-IE-support).

I know Edge is not having as much adoption as it should have ... more was chosen by

[2019-01-28 17:40] fortunatomaldonado opened #295 "Query appending to IE11 link"
### Expected behaviour

No query is appened to IE11 link when switching pages with different favicons.

### Actual behaviour

A query is being appended to IE11 links when switching pages with different favicons.

### Steps to reproduce

1. Start Liferay and open in IE11
2. Create a theme with a new favicon.ico file in src/images. Deploy the theme and apply it to a public page. They have been provi

[2019-02-05 13:44] #295 closed

[2019-03-20 02:04] lukehutch commented on #103
The PR for cdnjs never got finished, and the issue was closed due to lack of response:
https://github.com/cdnjs/cdnjs/pull/8173

[2019-03-21 16:47] diegonvs commented on #214
On 7.1, you can use `Liferay.SPA.version`

[2019-03-21 16:47] #214 closed

[2019-03-28 14:12] marcellustavares opened #298 "Page keyword metatag is not being refreshed after page navigation"
### Expected behaviour

After SPA page navigation, the keyword meta tag gets updated.

### Actual behaviour

The keywords meta tag gets refreshed after a hard page refresh.

[2019-03-29 00:54] brunobasto commented on #298
@diegonvs

[2019-04-02 20:52] diegonvs commented on #290
Closing this one, since the fix was already merged. Any question, please, reopen it :)

[2019-04-02 20:52] #290 closed

[2019-04-03 15:03] marcellustavares commented on #298
Thanks a lot @diegonvs! can you let me know whenever we get this fixed released?

[2019-04-04 17:01] #298 closed

[2019-04-19 01:42] neozhu opened #300 "how to use asp.net mvc scene?"
I tried it but it failed.is there no similar scene or application

[2019-04-23 00:16] lneves12 commented on #287
Hi @Aurugorn,

I had the same problem as you.
You can have a bit more control of your cache like this:

[code]

[2019-04-25 12:21] faragos commented on #180
What is the current state of this issue? I tried it but came to a problem with the history back. Did something change since 2016 or is it still not possible to use a Vue/React-Router inside a Senna.js application?

[2019-04-25 18:04] yuchi commented on #180
AFAIK there has been no progress on this issue.

[2019-05-21 01:39] holatuwol opened #301 "In IE11, media queries in style tags with data-senna-track attributes are applied as though the page has a width of 0px"
### Expected behaviour

In all browsers that support media queries, media queries in `<style data-senna-track="temporary">` tags are applied according to the true page width.

### Actual behaviour

In IE11, media queries in `<style data-senna-track="temporary">` and `<style data-senna-track="permanent">` tags are applied as though the page has a width of 0px.

### Steps to reproduce

1. Add the fo

[2019-06-01 18:08] lneves12 opened #302 "Add custom behavior when a Redirect happens (302)"
### Expected behavior

To be possible to add custom behavior when a Redirect happens.

### Actual behavior

I have a use case that whenever I press a link and it returns a "302" I want to redirect the full page and force a refresh instead of injecting the result in the surfaces, for instance, redirecting to a login page if the session is lost. The problem here is that the redirect is automatically

[2019-06-03 11:35] lneves12 commented on #302
Current workaround:

[code]

[2019-06-04 00:24] holatuwol commented on #301
Note that everything works if senna.js doesn't process style tags in IE.

https://github.com/holatuwol/senna.js/commit/a993e0363a26afa84ab6aa533d3d624e32194e50

[2019-06-04 23:00] holatuwol commented on #301
Related to [LPS-92572](https://issues.liferay.com/browse/LPS-92572).

[2019-06-17 15:12] matuzalemsteles commented on #301
hey @holatuwol, just taking a quick look at it, but I'll look into this in more depth this week to reap our options. This is a bit old, I can not remember which ticket we took and what the resolution was. But I put the words of Chema here https://github.com/metal/metal.js/issues/383#issuecomment-414311006 where is the problem.

Even if we stopped tracking the style to solve this, it would not work

[2019-06-19 17:34] diegonvs commented on #301
Hey @holatuwol, I added some comments here https://issues.liferay.com/browse/LPS-92572

[2019-06-30 01:11] ereinach commented on #288
up

[2019-06-30 16:53] brunobasto commented on #288
If you have ES6 or AMD setup, one way would be to import https://github.com/liferay/senna.js/blob/master/src/app/dataAttributeHandler.js and call the `getApp()` method. If you are just using the global build, I think there's currently no way to do that. That's an improvement that could be made. @diegonvs what do you think?

[2019-08-08 20:58] fortunatomaldonado opened #314 "Senna moves focus away from autoFocus fields on refresh"
### Expected behaviour

By having a field with `autoFocus="true"`, the focus should be on the field after refreshing the page.

### Actual behaviour

The focus is seen on the field and then moved to the `body` of the page when the page is refreshed.

### Steps to reproduce

1. Deploy the jar
2. Add the login portlet to the front page.
3. Refresh the page.

### Browsers affected

I tested on all ma

[2019-08-09 18:56] diegonvs commented on #314
Hey @fortunatomaldonado,

This behavior is caused because the elements with `autoFocus` attribute are focused on `DOMContentLoaded` event. However, when navigating by SPA this event isn't being triggered. I made a fix here: https://github.com/liferay/senna.js/pull/315

[2019-08-09 19:06] fortunatomaldonado commented on #314
Hello @diegonvs,

Thank you so much for your help on this!

[2019-08-19 13:18] lneves12 commented on #302
I think this will be easier to implement since we are now using the Fetch api instead of the XMLHttpRequest one

[2019-08-19 13:20] lneves12 commented on #302
https://fetch.spec.whatwg.org/#concept-request-redirect-mode

[2019-08-26 10:08] lneves12 opened #321 "Start navigation on mousedown instead of on click"
This was just an idea I had while looking at https://instant.page

What about triggering the senna navigaton on mouse down instead of mouse click? With that, we could have faster transitions on pages that are not cacheable by ~100ms.

I am willing to implement it directly on senna, but it would be nice to have your approval so I don't waste my time here :+1:

[2019-08-28 12:36] lneves12 commented on #321
First experiments: https://github.com/liferay/senna.js/pull/322

ping @diegonvs

[2019-09-06 18:24] diegonvs opened #324 "Redirect Path passed to the historyState don't support hashes"
See this line: https://github.com/liferay/senna.js/blob/master/src/app/App.js#L1159

We aren't updating the Redirect Path on historyState with hash.

/cc @Masterfoni @brunobasto

[2019-09-23 15:54] duracell80 commented on #301
Hey just to let you guys know, this issue is possibly causing our videos to load to with "blurry thumbnails" in IE11 when using senna navigation (mainly clicking a breadcrumb item). Essentially loading the page without senna (direct hit) will bring in full HD version of the thumbnail. Navigating with senna then tricks our third party vendor player into thinking it's rendering on mobile and thus it

[2019-09-23 17:53] holatuwol commented on #301
@duracell80 : My understanding is that the senna.js team has determined that this isn't an issue that can be fixed, since it boils down to a bug in IE11.

On the support side, we've provided fixes to disable senna in Liferay on IE11 for some customers who were concerned about the page rendering time performance regression introduced by https://github.com/liferay/senna.js/issues/124 (to summarize,

[2019-09-23 19:56] duracell80 commented on #301
Yup I understand IE pain. I can't re-write Kaltura's stylesheets to have min and max in the media query and other customers can't rewrite thrid party vendor software to account for bugs that other third parties won't fix.

I can't re-write senna either so turning it off for IE would be the only solution. I would take slow page loading on a dead browser over mobile css in a desktop browser any day.

[2019-09-23 21:38] lneves12 commented on #302
This workaround "browserPathBeforeNavigate" doesn't work anymore for version 3 of senna.js.

Implemented solution: on the backed if the Http header "x-pjax" is defined we return a 401 instead of 302. This way in the "endnavigation" handler we can just redirect to the login page :)

This issue doesn't make sense anymore

[2019-09-23 21:38] #302 closed

[2019-09-24 02:09] holatuwol commented on #301
@duracell80 : Those browser usage statistics aren't unusual. My understanding is that browser's continued dominance internationally is what pushed the product team to leave IE11 on the Liferay compatibility matrix for 7.2 with "limited" support, even though Microsoft itself has stopped supporting the browser.

Because SPA is included through a top head [dynamic include](https://portal.liferay.dev/

[2019-09-24 03:21] duracell80 commented on #301
Gotcha and kinda surprising that Liferay would even consider cutting IE11 from 7.2. That would have put Enterprise in an un-upgradable looking for another vendor position.

I opened a feature request to have an easier, less code / no code solution in DXP. It's certainly a personal opinion but I don't go for customization like that. Particularly as this is an issue for Liferay to solve and not for

[2019-09-24 08:37] #324 closed

[2019-09-24 12:02] julien commented on #301
I'm far from being a css expert, but this is what I found so far while testing this.

I tested with various changes and this is the only way I found so far for the style to be applied correcly in IE 11.

[code]

This is pretty strange because an html file with the same style declaration as describred in the issue but without senna works as expected in IE11. Will continue to investigate.

[2019-09-24 13:35] duracell80 commented on #301
Setting both max and min width is given as a solution to stop mobile breakpoints leaking to desktop IE.

It might be a different issue but I'm finding that IE is applying mobile breakpoints when navigating with Senna. The only fix is to turn Senna off on the links and that then resolves the issue for say a user clicking the portal logo to return to the homepage.

The style tags in the web content

[2019-09-25 11:05] julien commented on #301
Hey @duracell80,

I know and understand you don't have access to those external stylesheets or 3rd party css in iframes, I just wanted to see if there was a condition under which the style would "work" in IE.

Disabling senna.js for IE11 might solve this case but it might bring up other issues.

In anycase, I'll continue investigating and discuss this issue with the team to see if  we can come up

[2019-09-25 12:45] duracell80 commented on #301
In my experience at least with DXP in IE11 ... Senna causes so many issues. Pages seem to load a lot faster in IE with SPA off.

The downsides outweigh the advantages, particularly because Senna is so Javascript heavy it feels like older browsers that don't process javascript as well all that processing seems to make the UX worse.

[2019-09-27 10:00] bojanvidanovic opened #330 "Back button reloads the inital page"
When a webpage is loaded, I can navigate seamlessly through all my links. The problem presents when I start using the back button to get back to the initial page which reloads the website.

### Steps to reproduce

This is present in one of your examples: [Email example](https://sennajs.com/examples/email/). If you click on one of the emails and then use the back button, it will reload the website.

[2019-10-21 09:39] bojanvidanovic opened #331 "How to flip a specific surface only?"
**Task**: Change a specific surface for all routes with a regex.

I have two surfaces: main and list:
[code]
where the list is inside main, so they are nested.

Then I created a new Screen where I can manipulate only list surface and this is where the problems begin:

[code]
How can I define a custom screen and render only the surface I want? I just can understand it from the docs.

Thanks for thi

[2020-02-20 10:48] bojanvidanovic opened #335 "Dynamically added classes to the head element gets removed on page change"
### Expected behavior

Classes added via JS to the head element should not be removed on page change.

### Actual behaviour

On page change, Senna will append 'senna-loading' class to the head element, and on the end of transition will remove it toghether with all other dynamically added classes.

### Browsers affected

All.

[2020-10-22 12:06] jbalsas opened #340 "Branch 3.x and move 2.x to master"
As a step towards sunsetting Senna.js, the first step should be make sure the repo reflects the current status.

Right now, in this repo we have mainly:
- `master`: pointing to active development in `3.0.0-milestone.1`
- `2.x-stable`: pointing to last stable release of the `2.x` series

As `3.0.0-milestone.1` has never been integrated into upstream systems and we don't plan to push in this directi

[2020-10-22 12:18] jbalsas opened #341 "Cleanup long-standing PRs"
As part of the process to put the library into maintenance mode, we should clean up long-standing PRs giving them some type of closure

A possible approach would be:
- Discard all PRs targetting current `master` or `3.x` series
- Discard WIP or PoC PRs
- Consider the rest

[2020-10-22 12:22] #340 closed

[2020-10-22 12:25] #341 closed

[2020-10-22 15:03] wincent commented on #341
Y U no close? This one had so much promise, especially the "discard" bits...

[2020-10-22 15:06] jbalsas commented on #341
We're not syncing this repo with JIRA, so I created https://issues.liferay.com/browse/LPS-122529 instead which will take us back here for this!

[2020-10-22 15:09] wincent commented on #341
![kill-with-fire](https://user-images.githubusercontent.com/7074/96891840-5a1f2e00-1489-11eb-8bdc-2a68d365d704.gif)

[2020-11-30 12:55] jbalsas commented on #63
Thanks for everyone that has used and continues using Senna!

Triaging to see which issues merit action to have a clear picture of what we still want to do in the context of the project.

[2020-11-30 12:55] #63 closed

[2020-11-30 12:56] jbalsas commented on #112
Closing due to inactivity. We never got to this, so I guess it's likely irrelevant by now. It's nice to see the friendly faces of @brunobasto, @marcellustavares and @eduardolundgren around here, though 😉

[2020-11-30 12:56] #112 closed

[2020-11-30 12:57] jbalsas commented on #115
Sorry Eduardo... never got to this and don't think we'll invest in it, though it sounds interesting!!! 🤔

[2020-11-30 12:57] #115 closed

[2020-11-30 12:58] jbalsas commented on #136
This apparently got closed... at least we merged code. Although there's likely still similar issues, closing for now and will address in the context of new reports if they come.

[2020-11-30 12:58] #136 closed

[2020-11-30 12:59] jbalsas commented on #139
Closing since this is a pretty old conversation. Not sure if there's still some action needed here, but you all know where to find me 😉

[2020-11-30 12:59] #139 closed

[2020-11-30 13:00] jbalsas commented on #140
Dropping this one too as I go through some cleanup.. .sorry Ray! 😢

Please, reach out if this is still relevant somehow so we can analyze it and re-prioritize it accordingly!

[2020-11-30 13:00] #140 closed

[2020-11-30 13:01] jbalsas commented on #147
Discarding as we triage old issues that never got enough traction for us to work on them.

[2020-11-30 13:01] #147 closed

[2020-11-30 13:03] jbalsas commented on #192
Discarding myself!

[2020-11-30 13:03] #192 closed

[2020-11-30 13:03] jbalsas commented on #216
I don't think this is flaky anymore 😂

[2020-11-30 13:03] #216 closed

[2020-11-30 13:10] jbalsas commented on #190
Closing due to inactivity. I don't think we'll be picking this up based on how long it's taken 😢

[2020-11-30 13:10] #190 closed

[2020-11-30 13:13] jbalsas commented on #231
Examples seem to be up:
- https://sennajs.com/examples/email/
- https://sennajs.com/examples/gallery/static.html
- https://sennajs.com/examples/blog/

[2020-11-30 13:13] #231 closed

[2020-11-30 13:15] jbalsas commented on #280
Would be good, but won't be performing this in the `2.x` branch, so closing here.

[2020-11-30 13:15] #280 closed

[2020-11-30 13:17] jbalsas commented on #250
I guess this was fixed since the fix was merged looong time ago. Not sure if it made it all the way to all the target platforms.

@salvatejero, please feel free to reopen if you're still seeing this!

[2020-11-30 13:17] #250 closed

[2020-11-30 13:21] jbalsas commented on #300
Hey @neozhu, I apologize for not getting bak to you in a timely manner. Not sure if this was actually the right place for your report or if it's still relevant.

I'm going through some cleanup, so feel free to reopen or clarify if needed!

[2020-11-30 13:21] #300 closed

[2020-11-30 13:21] jbalsas commented on #247
Looks like the workaround is there to stay :D

[2020-11-30 13:21] #247 closed

[2020-11-30 13:23] #234 closed

[2020-11-30 13:24] jbalsas commented on #287
Closing based on the provided workaround. Please, feel free to reopen if still need something else!

[2020-11-30 13:24] #287 closed

[2020-11-30 23:36] brunobasto commented on #112
![tenor-250521965](https://user-images.githubusercontent.com/156388/100678377-c07e5280-334b-11eb-9bdd-71afb01a252d.gif)

[2020-12-09 08:24] angelukas opened #347 "Mio de mi"
`###` Expected behaviour

I thought that by going to the page '...' and pressing the button '...' then '...' would happen.

### Actual behaviour

Instead of '...', what I saw was that '...' happened instead.

### Steps to reproduce

1. Go this JSFiddle, JSBin, CodePen, etc
2. Click on '....'
3. Scroll down to '....'
4. Refresh the page and wait 5 secs
5. Finally the error will magically happen (if

[2021-01-28 19:16] PH4NTOMiki opened #349 "Saving app.screens into localStorage"
@eduardolundgren @brunobasto It would be great if the screens could be cached in localStorage, when I call `JSON.stringify` on `app.screens` (Senna instance) and refresh the page and do `app.screens = JSON.parse(localStorage.sennaScreens)` it just doesn't work at all, it would be great if you could tell me how to do something similar to that, thank you for creating this amazing peace of software,

[2021-04-07 21:12] fortunatomaldonado opened #350 "In Safari (macOS and iOS versions) wrong button press is read when SPA is enabled"
### Expected behaviour

When there are multiple buttons and the second button is pressed, the correct button information should be sent.
### Actual behaviour

When there are multiple buttons and the second button is pressed, the first button information is sent instead.

### Steps to reproduce

1. Deploy testspaformmultiplesubmit1-1.0.0.jar provided for testing.
2. Open Safari browser, add module

[2021-04-20 17:44] wincent commented on #170
We're about to archive this repo and mark it as read-only. As [explained here](https://github.com/liferay/liferay-frontend-projects/blob/eb83cc6c28fc68e6e70aed8a22f1b2fdf31ac277/maintenance/projects/senna/README.md) the Senna code base has been ingested into Liferay DXP itself in the form of the `frontend-js-spa-web` module, and we have migrated the v2.x history over into [the liferay-frontend-pro

[2021-04-20 17:44] #170 closed

[2021-04-20 17:46] wincent commented on #227
We're about to archive this repo and mark it as read-only. As [explained here](https://github.com/liferay/liferay-frontend-projects/blob/eb83cc6c28fc68e6e70aed8a22f1b2fdf31ac277/maintenance/projects/senna/README.md) the Senna code base has been ingested into Liferay DXP itself in the form of the `frontend-js-spa-web` module, and we have migrated the v2.x history over into [the liferay-frontend-pro

[2021-04-20 17:46] #227 closed

[2021-04-20 17:46] wincent commented on #229
We're about to archive this repo and mark it as read-only. As [explained here](https://github.com/liferay/liferay-frontend-projects/blob/eb83cc6c28fc68e6e70aed8a22f1b2fdf31ac277/maintenance/projects/senna/README.md) the Senna code base has been ingested into Liferay DXP itself in the form of the `frontend-js-spa-web` module, and we have migrated the v2.x history over into [the liferay-frontend-pro

[2021-04-20 17:46] #229 closed

[2021-04-20 17:46] wincent commented on #253
We're about to archive this repo and mark it as read-only. As [explained here](https://github.com/liferay/liferay-frontend-projects/blob/eb83cc6c28fc68e6e70aed8a22f1b2fdf31ac277/maintenance/projects/senna/README.md) the Senna code base has been ingested into Liferay DXP itself in the form of the `frontend-js-spa-web` module, and we have migrated the v2.x history over into [the liferay-frontend-pro

[2021-04-20 17:46] #253 closed

[2021-04-20 17:46] wincent commented on #268
We're about to archive this repo and mark it as read-only. As [explained here](https://github.com/liferay/liferay-frontend-projects/blob/eb83cc6c28fc68e6e70aed8a22f1b2fdf31ac277/maintenance/projects/senna/README.md) the Senna code base has been ingested into Liferay DXP itself in the form of the `frontend-js-spa-web` module, and we have migrated the v2.x history over into [the liferay-frontend-pro

[2021-04-20 17:46] #268 closed

[2021-04-20 17:46] wincent commented on #274
We're about to archive this repo and mark it as read-only. As [explained here](https://github.com/liferay/liferay-frontend-projects/blob/eb83cc6c28fc68e6e70aed8a22f1b2fdf31ac277/maintenance/projects/senna/README.md) the Senna code base has been ingested into Liferay DXP itself in the form of the `frontend-js-spa-web` module, and we have migrated the v2.x history over into [the liferay-frontend-pro

[2021-04-20 17:46] #274 closed

[2021-04-20 17:46] wincent commented on #294
We're about to archive this repo and mark it as read-only. As [explained here](https://github.com/liferay/liferay-frontend-projects/blob/eb83cc6c28fc68e6e70aed8a22f1b2fdf31ac277/maintenance/projects/senna/README.md) the Senna code base has been ingested into Liferay DXP itself in the form of the `frontend-js-spa-web` module, and we have migrated the v2.x history over into [the liferay-frontend-pro

[2021-04-20 17:46] #294 closed

[2021-04-20 17:46] wincent commented on #180
We're about to archive this repo and mark it as read-only. As [explained here](https://github.com/liferay/liferay-frontend-projects/blob/eb83cc6c28fc68e6e70aed8a22f1b2fdf31ac277/maintenance/projects/senna/README.md) the Senna code base has been ingested into Liferay DXP itself in the form of the `frontend-js-spa-web` module, and we have migrated the v2.x history over into [the liferay-frontend-pro

[2021-04-20 17:46] #180 closed

[2021-04-20 17:46] wincent commented on #288
We're about to archive this repo and mark it as read-only. As [explained here](https://github.com/liferay/liferay-frontend-projects/blob/eb83cc6c28fc68e6e70aed8a22f1b2fdf31ac277/maintenance/projects/senna/README.md) the Senna code base has been ingested into Liferay DXP itself in the form of the `frontend-js-spa-web` module, and we have migrated the v2.x history over into [the liferay-frontend-pro

[2021-04-20 17:46] #288 closed

[2021-04-20 17:46] wincent commented on #314
We're about to archive this repo and mark it as read-only. As [explained here](https://github.com/liferay/liferay-frontend-projects/blob/eb83cc6c28fc68e6e70aed8a22f1b2fdf31ac277/maintenance/projects/senna/README.md) the Senna code base has been ingested into Liferay DXP itself in the form of the `frontend-js-spa-web` module, and we have migrated the v2.x history over into [the liferay-frontend-pro

[2021-04-20 17:46] #314 closed

[2021-04-20 17:46] wincent commented on #321
We're about to archive this repo and mark it as read-only. As [explained here](https://github.com/liferay/liferay-frontend-projects/blob/eb83cc6c28fc68e6e70aed8a22f1b2fdf31ac277/maintenance/projects/senna/README.md) the Senna code base has been ingested into Liferay DXP itself in the form of the `frontend-js-spa-web` module, and we have migrated the v2.x history over into [the liferay-frontend-pro

[2021-04-20 17:46] #321 closed

[2021-04-20 17:46] wincent commented on #301
We're about to archive this repo and mark it as read-only. As [explained here](https://github.com/liferay/liferay-frontend-projects/blob/eb83cc6c28fc68e6e70aed8a22f1b2fdf31ac277/maintenance/projects/senna/README.md) the Senna code base has been ingested into Liferay DXP itself in the form of the `frontend-js-spa-web` module, and we have migrated the v2.x history over into [the liferay-frontend-pro

[2021-04-20 17:46] #301 closed

[2021-04-20 17:46] wincent commented on #330
We're about to archive this repo and mark it as read-only. As [explained here](https://github.com/liferay/liferay-frontend-projects/blob/eb83cc6c28fc68e6e70aed8a22f1b2fdf31ac277/maintenance/projects/senna/README.md) the Senna code base has been ingested into Liferay DXP itself in the form of the `frontend-js-spa-web` module, and we have migrated the v2.x history over into [the liferay-frontend-pro

[2021-04-20 17:46] #330 closed

[2021-04-20 17:46] wincent commented on #331
We're about to archive this repo and mark it as read-only. As [explained here](https://github.com/liferay/liferay-frontend-projects/blob/eb83cc6c28fc68e6e70aed8a22f1b2fdf31ac277/maintenance/projects/senna/README.md) the Senna code base has been ingested into Liferay DXP itself in the form of the `frontend-js-spa-web` module, and we have migrated the v2.x history over into [the liferay-frontend-pro

[2021-04-20 17:46] #331 closed

[2021-04-20 17:46] wincent commented on #335
We're about to archive this repo and mark it as read-only. As [explained here](https://github.com/liferay/liferay-frontend-projects/blob/eb83cc6c28fc68e6e70aed8a22f1b2fdf31ac277/maintenance/projects/senna/README.md) the Senna code base has been ingested into Liferay DXP itself in the form of the `frontend-js-spa-web` module, and we have migrated the v2.x history over into [the liferay-frontend-pro

[2021-04-20 17:46] #335 closed

[2021-04-20 17:48] wincent commented on #347
We're about to archive this repo and mark it as read-only. As [explained here](https://github.com/liferay/liferay-frontend-projects/blob/eb83cc6c28fc68e6e70aed8a22f1b2fdf31ac277/maintenance/projects/senna/README.md) the Senna code base has been ingested into Liferay DXP itself in the form of the `frontend-js-spa-web` module, and we have migrated the v2.x history over into [the liferay-frontend-pro

[2021-04-20 17:48] #347 closed

[2021-04-20 17:48] wincent commented on #349
We're about to archive this repo and mark it as read-only. As [explained here](https://github.com/liferay/liferay-frontend-projects/blob/eb83cc6c28fc68e6e70aed8a22f1b2fdf31ac277/maintenance/projects/senna/README.md) the Senna code base has been ingested into Liferay DXP itself in the form of the `frontend-js-spa-web` module, and we have migrated the v2.x history over into [the liferay-frontend-pro

[2021-04-20 17:48] #349 closed